[2019-07-30 07:46] Aimen06 opened #1 "Service doesn't start after reboot."
Hi,
I have managed to compile the project without error.
But nothing happen after reboot.
When i type systemctl start eruption.service i get Failed to start eruption.service: Unit eruption.service not found.
I use debian unstable.
Do you know what is the problem ?
Thx

[2019-07-30 14:25] X3n0m0rph59 commented on #1
Thanks for your bug report!

Seems like systemd did not find the unit file of the eruption service.
The file `support/systemd/eruption.service` has to be copied from the project's directory to the systemd unit directory `/lib/systemd/system/`.

I'm going to prepare packages for Debian very soon! Then it will be much easier for you to deploy.

[2019-07-31 08:39] Aimen06 commented on #1
Thanks for the reply i will try :)

[2020-04-24 17:55] adq opened #2 "Seems to hang on start"
Hi, I've just received a Roccat Vulcan 120 AIMO; the keyboard works fine, but eruption seems to hang on start. I see this:

[code]

Then nothing happens. If I unplug the keyboard, I can see it trying and failing to do more stuff.
I also cannot Ctrl-C the process at this point!

lsusb shows: `Bus 001 Device 023: ID 1e7d:3098 ROCCAT`
uname -a shows: `Linux cinnabar 5.6.5-arch3-1 #1 SMP PREEMPT Sun,

[2020-04-24 18:07] adq commented on #2
Hey - turns out a firmware update under windows fixed it. All working ok now.

[2020-04-24 18:07] #2 closed

[2020-05-07 10:32] poldi1405 opened #4 "Support QWERTZ layout"
Hello,
my Keyboard is in the german QWERTZ layout and as soon as I start eruption it is set to QWERTY, making working with it a lot harder.

[2020-05-07 10:43] poldi1405 opened #5 "Only AIMO default lighting effects are applied"
Hello,
I installed eruption using the AUR and none of the effects is applied. No matter whether I'm running it with `sudo eruption impact.lua` or `sudo eruption -c /etc/eruption/eruption.conf` with the following eruption.conf:
[code]

Same when starting with systemd (basically same as the second command.

[2020-05-07 10:52] poldi1405 commented on #5
Have now tried it with `sudo eruption -p fireworks` and `sudo eruption -p /var/lib/eruption/profiles/fireworks.profile`

Without success

[2020-05-07 11:40] X3n0m0rph59 commented on #5
Hello, thanks for your bug report!

It seems that the eruption daemon is unable to initialize your device. Could you please try to update your keyboard's firmware to the latest revision using ROCCAT Swarm?

Could you also please show some log output of eruption?

You may want to run eruption with additional output enabled:

`sudo RUST_LOG=debug RUST_BACKTRACE=full eruption -c /etc/eruption/eruptio

[2020-05-07 18:26] poldi1405 commented on #5
The firmware was updated just yesterday so I just assume that it is still the most recent version (I don't have a Windows machine here, so no way of checking).

Log:
[code]

[2020-05-07 20:20] X3n0m0rph59 commented on #5
Hello, thank you for showing the debug logs.

So apparently the initialization of the device is working as expected, and therefore there is no problem with the firmware revision or the hardware itself.

I was able reproduce a problem with the profile selection code, and can confirm that the command line handling is currently broken in the daemon proper. The state file currently overrides all other

[2020-05-07 20:44] X3n0m0rph59 commented on #4
This could be a problem with the eruption virtual keyboard device being set to the default layout.

Eruption uses the Linux `uinput` subsystem to create a virtual keyboard device that mirrors all keys pressed on the "real" device and additionally can inject/replace keystroke sequences ("macros").

I suspect that the layout of the virtual keyboard is set to "en_US".

Could you please post the outpu

[2020-05-08 03:20] #1 closed

[2020-05-08 04:12] X3n0m0rph59 commented on #5
I just pushed eruption version `0.1.7` which fixes the bug in the profile selection code.

It should now be possible to override all other ways to set a profile, by appending `-p` or  `--profile` on the command line.

Please let me know if this fixes the problem.

[2020-05-08 04:25] X3n0m0rph59 commented on #5
P.s.:
The effect you were seeing the whole time is specified in the `default.profile`. This is not to be confused with the keyboard's built in effects (the hardware based rainbow gradient).

The so called "AIMO" effect is only implemented in the ROCCAT Swarm Windows driver.

 DEBUG eruption > Loading saved state...
 **INFO  eruption > Loaded profile: Default**
 INFO  eruption::rvdevice > Found Con

[2020-05-08 06:58] poldi1405 commented on #4
[code]

and yes, `setxkbmap` fixes the issue until eruption is restarted

[2020-05-08 07:16] X3n0m0rph59 commented on #4
Hello,

[code]

I suspect that this is the culprit: X11 Layout: **n/a**

To set the system-wide default keyboard layout to `de`, you may want to execute this command:
[code]

You may need to restart at least the X server for the changes to take effect.

[2020-05-08 07:28] poldi1405 commented on #4
That did it. Thanks a lot.

[2020-05-08 07:28] #4 closed

[2020-05-10 13:03] poldi1405 commented on #5
Yes, It works now… Thank you very much. Now for tikering together a theme…

[2020-05-10 13:03] #5 closed

[2020-05-19 13:26] poldi1405 opened #6 "unable to automatically compile under Arch"
Due to the sysinfo dependency requiring a development-version of rust the PKGBUILD is currently not able to build the package automatically. Now for the question: Should I modify the PKGBUILD and open a pull request (not very elegant as this would probably modify the users rust environment) or is there anything you can do?

[2020-05-19 15:06] X3n0m0rph59 commented on #6
Hi, thank you for your report!

Which version of `cargo` and `rustc` do you have installed? The current stable version of rust is able to successfully compile Eruption.

[code]

[code]
I think you may be using rust nightly, which is currently broken wrt. compiling `sysinfo`...

Could you please try to switch to rust stable by running the following command:

[code]
and then, please try to compile E

[2020-05-19 22:36] poldi1405 commented on #6
It seems to work now, thanks.

[2020-05-19 22:36] #6 closed

[2020-06-18 04:44] erockce opened #7 "Problems Running from Source on Ubuntu 18.04"
Hello.

I've not had success using the program with the sample configurations after compiling from source.

I compiled from source because the PPA doesn't work with Bionic (I wasn't ready to upgrade yet to the next distro version).

After a quick crash course with `cargo` and Rust, I got all the dependencies and the `eruption` program compiled.  But executing fails and kills the lighting effects.

[2020-06-18 08:13] X3n0m0rph59 commented on #7
Hello, thank you for your bug report!

It seems that eruption is unable to initialize the D-Bus interface, maybe because the interface configuration file is missing. Could you please try to run the following commands:

[code]

And then please try to re-execute eruption.

I will look into supporting Ubuntu Bionic.

[2020-06-18 10:59] X3n0m0rph59 commented on #7
Hello, I just have prepared a package for Ubuntu Bionic. Could you please try out the PPA?

[2020-06-22 04:36] erockce commented on #7
Thank you @X3n0m0rph59 for making a `bionic` package for installation!

I had a few tweaks to the getting started instructions.

[code]

The `eruption.service` file was not immediately available - I chose not to reboot. The systemd script is set `disabled` by default.  So I enabled.

[code]

Now the service is visible
[code]

According to the man page for `systemd.service` on my system the value `

[2020-06-22 04:36] #7 closed

[2020-07-24 23:28] ACR-Jeff opened #9 "Volume controls not working after Update"
Keyboard: Roccat Vulcan 120 AIMO
Distro: Linux Mint 20
Updated to eruption-roccat-vulcan version 0.1.11-ubuntu7
Issue: Volume controls not working after Update
Read and followed all instructions in the entire README
Followed "Support for Audio Playback and Capture" instructions
Without any resolution.
Any help would be appreciated.
Thanks

[2020-07-25 03:59] X3n0m0rph59 commented on #9
Hi, thanks for your bug report!

I can confirm that this is a bug with the Ubuntu PPA packages. I am currently building new and fixed Ubuntu packages on Launchpad.

[2020-07-25 04:24] X3n0m0rph59 commented on #9
OK, updated packages are available now!

Please feel free to re-open this bug report if you have further issues.

[2020-07-25 04:24] #9 closed

[2020-07-25 21:32] apfeiffertraum opened #10 "All leds are dark following update to 0.1.11"
Following an update from eruption-roccat-vulcan-git.x86_64 0.1.10-1.fc32 to eruption-roccat-vulcan-git.x86_64 0.1.11-2.fc32, when the eruption service starts, all leds on my Vulcan 121 AIMO go dark. All was functioning beautifully before the update.

Curiously, there are no error messages or complaints from eruption and the eruption profile switcher seems to be able to change from one profile to a

[2020-07-26 04:59] X3n0m0rph59 commented on #10
Hi! Thanks for your bug report, and sorry for the inconvenience this has caused you.

I am currently unable to reproduce this issue on my Fedora 32 VM.

This may very well be a bug in the Fedora package, caused by non up-to-date config files after the update. If that is true, the problem would be fixed by resetting the state of eruption. If you did any customizations like user macros, then please

[2020-07-26 14:50] apfeiffertraum commented on #10
I followed your directions to wipe and reinstall the package, and it is working again. Thank you for responding so quickly and for sharing your work! _eruption_ is wonderful!

My problem may have had something to do with brightness control. Before I purged the old version, there was a file named **/var/lib/eruption/eruption.state** that contained this:

[code]

At the same time, the brightness con

[2020-07-26 15:25] X3n0m0rph59 commented on #10
Great to hear that! Thanks for investigating! That seems to be the culprit:

Will look into this...

I will close this issue now. Please feel free to open another issue if you encounter further problems!

[2020-07-26 15:25] #10 closed

[2020-07-28 03:39] erockce opened #11 "Custom profiles not preserved on version upgrade"
@X3n0m0rph59...

I had non-conflicting profile files with names beginning with "`my-` as copies of your defaults inside `/var/lib/eruption/profiles`.

When I upgraded to `0.11` with the Ubuntu PPA for Bionic, my custom profiles were removed!

If possible please do not delete the entire `/var/lib/eruption/profiles` directory and instead adopt how RPMs can work by installing over existing files for

[2020-07-28 03:45] erockce opened #12 "How do I disable the "Eruption Virtual Mouse" feature?"
After installing 0.1.11, Eruption is trying to grab my mouse instead of letting me use a kernel Logitech driver (for my M325).

I use XFCE4 and with Eruption version 0.1.10, I could simply select and uncheck "Enable this device" for "Eruption Virtual Mouse" in the "Mouse and Touchpad" (I believe provided by the `xfsettingsd` process).

With 0.1.11 if I want mouse functionality, I'm forced to use t

[2020-07-28 03:51] erockce commented on #11
My apologies the profiles are still there.

[2020-07-28 03:51] #11 closed

[2020-07-28 05:18] X3n0m0rph59 commented on #12
Hi! Thanks for bringing this issue to my attention!

I think that your issue is caused by Eruption grabbing your mouse device exclusively.
It is possible to completely opt-out of mouse support by adding:
[code]
to the main configuration file: `/etc/eruption/eruption.conf`. (This feature has recently been promoted from experimental.)

Could you please describe in more detail which desired features

[2020-07-29 06:54] erockce commented on #12
@X3n0m0rph59 thank you for confirming.  It appears I was on the right track.

Last night when I re-read the `README.md` after filing the issue, I set the `grab_mouse` parameter before finishing for the day.

[code]

Today I didn't give it much thought about the issue.  I just checked the XFCE4 "mouse and touchpad" control panel application and it shows the `Eruption Virtual Mouse` is disabled and

[2020-07-30 11:54] X3n0m0rph59 commented on #12
Hi! Thanks for the response!

I decided to split the configuration option `grab_mouse` into two distinct options, `enable_mouse` and `grab_mouse`. This change will likely make it into Eruption `0.1.12`:

If `enable_mouse` is set to `true`, Eruption will process mouse events (the mouse device is opened in "shared mode")
In addition to this, if `grab_mouse` is set to `true` as well, then Eruption wi

[2020-08-02 07:02] #12 closed

[2020-08-09 04:34] erockce opened #13 "Screensaver Won't Activate when Eruption Is Running"
Hi @X3n0m0rph59

Since the new version was installed today, my screen saver is now not activating if the `eruption` service is running.

If I stop the service, the screen saver (simple blanking) works again.  I did not have this issue with prior `0.1.11` version.

When I try `xset s activate` the screen blanks for 3 seconds, but then comes back.

If the `eruption` service is not running, the scree

[2020-08-09 07:07] X3n0m0rph59 commented on #13
Hi! Thanks for your bug report!

Sounds like `eruption` somehow injects input events that prohibit the screensaver from being run.

I have tried on a Ubuntu 18.04 virtual machine as well as on my development box, but was unable to reproduce this issue.
On both machines the screensaver/blanking works as expected:
[code]
Wait 10 seconds...

Screen will blank, as expected after 10 seconds, and stay t

[2020-08-09 08:10] X3n0m0rph59 commented on #13
I can reproduce it now on my development box! It seems that something is resetting the screensaver timeout. So spurious input events are not the root cause of this issue.

I will investigate...

[2020-08-09 11:08] X3n0m0rph59 commented on #13
I just set up an Ubuntu 18.04 VM using the xfce4 desktop environment. Furthermore, I did install the xscreensaver package and configured a timeout of 1 minute, using the screensaver configuration GUI (Xfce4 menu item: Settings / Screensaver). This way, the screensaver seems to work alright.

Could you please tell me how you set the timeout of the screensaver? Did you set it using the xscreensaver

[2020-08-09 20:37] erockce commented on #13
I wasn't expecting you to already attempt (and in one case) reproduce my problem!

I'm sorry for the quick knee-jerk issue I created yesterday but it appears things with eruption might be working after all.

More in-depth investigation and monitoring is required. Today my screensaver is working as expected.  I did not change anything from yesterday.  I let my system sit idle for 5 minutes (300 sec

[2020-08-10 02:43] erockce commented on #13
For what it is worth I restored all of my previous custom profiles to slots (which right now are nothing more than renamed presets (`preset-blue-red.profile`, `preset-red-yellow.profile`, `profile3.profile`, and `spectrum-analyzer.profile`) to see if there was something strange in the profiles or scripts they used to cause the reported issue.  My computer has been left on all day and the screen ha

[2020-08-10 04:11] X3n0m0rph59 commented on #13
Hi! Thanks for the quick reply!

Not a problem at all! Please feel free to open up issues anytime!
Your `sudo evtest` output is looking good, so we can be reasonably sure that spurious events aren't involved here.

I noticed the same during testing yesterday. The values set by `xset s <num> <num>` get magically reset.
I suspect that we aren't supposed to use the low-level configuration stuff of th

[2020-08-10 04:11] #13 closed

[2020-08-17 16:49] RunningX opened #14 "After Standby Eruption must restart to work."
After standby the vulcan flickering between Firmware and Eruption effects. After pressing FN + F4 its go back to Eruption. But the Macros and Pulseaudio features work after restart of Ereuption.

[2020-08-18 06:06] X3n0m0rph59 commented on #14
Hi! Thank you for your bug report!

This issue will be fixed in the next release of `eruption`.

If you do not want to wait for the next release, you may place the following script in the file `/usr/lib/systemd/system-sleep/eruption`

[code]

[2020-08-27 19:40] Nanowires opened #15 "eruption cannot connect to pulseaudio"
Keyboard: Roccat Vulcan 121 AIMO
Distro: Fedora 32
Issue: Volume controls not working
Read and followed all instructions in the entire README
Followed "Support for Audio Playback and Capture" instructions without any resolution.
journalctl outputs these errors from eruption:
ERROR eruption::plugins::audio           > Could not initialize the audio backend: Pulse Audio error: Could not open Pulse A

[2020-08-28 01:15] X3n0m0rph59 commented on #15
Hi! Could you please paste the contents of the following files:

`~/.config/pulse/default.pa`
`/root/.config/pulse/client.conf`

And please show the output of the following command:
[code]

[2020-08-28 06:49] Nanowires commented on #15
Hi,

thanks for your fast response :-)
BTW: Very nice tool

FYI: I'm now able to grab the audio (i.e. visualize the audio) and play audio via keystrokes. The problem was, that the wrong audio source was selected for eruption in the pulseaudio mixer.

But i still cannot control the volume with the knob, or mute/unmute the audio.

~/.config/pulse/default.pa:

[code]
/root/.config/pulse/client.conf:

[2020-08-28 07:59] X3n0m0rph59 commented on #15
Nice, halfway there!

When the mute button is pushed on the keyboard, or the volume knob is rotated, eruption will inject keystrokes on the virtual keyboard device that need to be handled by your desktop environment.

The following lines are taken from `scripts/macros.lua`

[code]

The relevant lines are: `inject_key(<code>, up_or_down)`

So your desktop environment needs to be told to handle thes

[2020-08-28 14:19] Nanowires commented on #15
Thanks, this may be the problem:
I'm using the minimalistic XFCE4 environment.

At least evtest shows, that the key strokes are recognised correctly. :-)

[2020-08-28 18:21] Nanowires commented on #15
Ok, sorry for filing an issue...

Thanks for your time and support :-)

[2020-08-28 18:21] #15 closed

[2020-08-29 05:04] erockce opened #16 "Profile Using stripes.lua + audioviz3.lua Cause Lights to Occasionally Freeze"
Changes between the current and previous Eruption release (or I never noticed) affects the processing of audio and will occasionally freeze the lights on the keyboard with `stripes.lua` and `audioviz3.lua` scripts in the same profile.  After a few seconds the audio signal is processed again, but then the lights freeze again after a few seconds.  Sometimes the freeze is for a significant length of

[2020-08-29 08:44] X3n0m0rph59 commented on #16
Hi! Thanks again for your bug report!

I am able to reproduce this issue on a Ubuntu 18.04 VM. I am working on a fix/improving the spectrum analyzer code now...

As a temporary workaround you may comment out line `37` in `audioviz3.lua`.

Please change:
[code]

to:
[code]
Please tell me if this fixes the issue completely.

[2020-08-29 10:59] X3n0m0rph59 commented on #16
I just published Eruption version `0.1.14` which should fix this issue!

[2020-08-29 16:55] erockce commented on #16
Thanks @X3n0m0rph59. I'm trying to understand the change as it relates to the commit message.

I reviewed commit (e53abdb261e4f4e0dacc7e3b6308a893754ce5f3) for the "fix".

I'm no Lua expert but looks like you removed an optimization for conditions when the `tick` counter is an even number to exit the function.

With your comment

I see this statement applies to the version of Eruption.

Does the i

[2020-08-29 18:09] X3n0m0rph59 commented on #16
Hi @erockce!

The early return condition is buggy in the sense that it inverts logic (does not test for `... == 0`, but for `~= 0`), which in combination with the ticks counter (and seemingly the old `get_audio_spectrum()` code) tends to cause fluctuating hangs.

I was able to reproduce this in both of my Ubuntu VMs as well as a Fedora 32 VM. This did not happen on my Arch-based development system

[2020-08-29 20:04] erockce commented on #16
Fantastic @X3n0m0rph59. I have confirmed the issue is resolved with `0.1.14`.

I'm very grateful for your dedication and prompt responses to issues for this project!

[2020-08-29 20:04] #16 closed

[2020-09-04 07:16] bthiebault opened #17 "Eruption crashes on startup"
I installed eruption yesterday and it worked very well.
This morning however, it crashed at startup.

The error message from `systemctl status eruption` command line is the following:

`Could not initialize the keyboard plugin: Could not get the name of the evdev device from udev`

Manually restarting the service via `sudo systemctl restart eruption.service` works, though.

I'm using eruption-rocc

[2020-09-04 07:20] bthiebault commented on #17
The full journalctl output is the following:

`
-- Logs begin at Fri 2019-07-19 16:23:42 CEST, end at Fri 2020-09-04 11:10:30 CEST. --
Sep 04 09:10:31 Solgaleo systemd[1]: Starting Driver for ROCCAT Vulcan 100/12x series keyboards...
Sep 04 09:10:31 Solgaleo systemd[1]: Started Driver for ROCCAT Vulcan 100/12x series keyboards.
Sep 04 09:10:31 Solgaleo eruption[585]:  INFO  eruption > Starting use

[2020-09-04 07:38] bthiebault opened #18 "Volume control does not work"
The volume control knob does not work. When I turn it, the LED lightning goes white for a few seconds before going back to the selected profile. The volume does not change. The mute button and the FX button don't do anything. When pressing the FX button, it is turned on and the volume button is turned off, but the behaviour of the volume knob does not change.

I have followed the README instructio

[2020-09-04 11:38] X3n0m0rph59 commented on #18
Hi! Thank you for your bug report!

Could you please tell me which distro and what version of it you are using? And what is your current desktop environment?

If you only want the media keys and volume control knob/mute button to work, then this was not necessary. Eruption translates rotation of the volume control knob to key press events that subsequently need to be handled by your desktop enviro

[2020-09-04 12:23] bthiebault commented on #18
I use Arch.

I have no DE, only a WM, namely BSPWM with SXHKD. What are the key pressed events I need to listen to to translate to volume modification?

[2020-09-04 12:27] X3n0m0rph59 commented on #18
The respective events are:

code 113 (KEY_MUTE)
code 114 (KEY_VOLUMEDOWN)
code 115 (KEY_VOLUMEUP)

You can see the exact key codes that are emitted by the `Eruption Virtual Keyboard` device using the `evtest` utility.

[2020-09-04 14:00] bthiebault commented on #18
Thanks

[2020-09-04 14:00] #18 closed

[2020-09-04 17:07] X3n0m0rph59 commented on #17
Hi and thanks again for your bug report!

Sounds like some kind of race condition. I am so far unable to reproduce this. Will need to dig deeper...

Can you tell me how often this does happen? Is it reproducible?
Could you please post your `/etc/eruption/eruption.conf` file?

[2020-09-04 17:13] bthiebault commented on #17
I only rebooted twice... and it happened twice. I can try rebooting more if necessary.

My .conf file is pretty basic:
[code]
(As an aside, I don't know what options are available for the keyboard variant... I have an AZERTY keyboard, not sure it makes a difference).

I guess this may be due to the order in which the systemd service is started (probably too early), but I'm not sure exactly what th

[2020-09-05 05:16] X3n0m0rph59 commented on #17
Hi! I am now able to reproduce this in an ArchLinux VM. It seems like the USB-HID code is completely broken on such setups.
Eruption somehow is unable to open/read from the USB control device. (The evdev layer is working though)

I don't think that this is a problem.

Yes guessed that too at first, but as it turns out the code does not work even if Eruption is started from a shell.

I am working o

[2020-09-05 08:39] X3n0m0rph59 commented on #17
Eruption somehow is unable to open/read from the USB control device. (The evdev layer is working though)

That turned out to be a red herring. USB device forwarding to the VM did not work right.

So I am still unable to reproduce this...

I think we should rule out some obvious things first:
* Could you please verify that you are using the most recent firmware that is available for your device, by

[2020-09-05 10:15] bthiebault commented on #17
The keyboard is plugged directly to the motherboard, so it's not that.
In theory, I updated the keyboard firmware when I received it earlier this week. I'm gonna restart on Windows and double check though.
I think this has to do with the timing for the startup of the systemd service. When I start it within my session, it works perfectly. A workaround would be to restart it automatically once I'm l

[2020-09-05 11:37] X3n0m0rph59 commented on #17
In theory, I updated the keyboard firmware when I received it earlier this week. I'm gonna restart on Windows and double check though. (Edit: I just checked, I've got hte last version of the firmware).

Thank you for verifying this!

Yes, I suppose so too. I just have changed the udev related device enumeration code to implement a 'back-off and wait' feature, when it encounters errors. Will push i

[2020-09-05 12:33] bthiebault commented on #17
No, I only restarted the service with systemctl restart.

I can try building from source... I'll do it as soon as the kids give me a minute :)

[2020-09-05 12:49] X3n0m0rph59 commented on #17
To build from sources you may want to `git clone` the repository and then simply change to the directory `support/pkg/arch/`. You then should be able to run `makepkg -si`.

After the package has been installed:

[code]
should print version `0.1.15`.

If you want to make local changes to the sources you should build Eruption using `cargo build` and run it with `sudo target/debug/eruption`.

[2020-09-05 20:08] bthiebault commented on #17
I compiled eruption as instructed. `eruption -V` returned `Eruption 0.1.15`

I rebooted... and it works now. For information, the output of journalctl is now:
[code]

[2020-09-05 20:08] #17 closed

[2020-09-05 23:59] X3n0m0rph59 commented on #17
Great! Thank you very much for your patience! Please feel free to open up new issues anytime!

[2020-09-06 07:36] bthiebault opened #19 "Error in keys neighbor mapping"
I'm using the profile1.profile configuration and part of the propagation effect bothers me: when I press `Alt` or `Alt-gr`, the lightning propagates to the `b` and `h` keys.

If you look at the keyboard layout (mine is an AZERTY vulcan 120 AIMO) the `b` and `h` keys are indeed the closest keys to the space bar switch (which is lightened up). However, when pressing the `Alt` key, it would seem more

[2020-09-11 14:56] bthiebault opened #20 "Eruption crash on startup"
Maybe this is related to #17
Eruption crashed on startup with the following message:

[code]

I could not reproduce the bug, so I guess this was some sort of race condition that rarely happens. I just wanted to list it here for future reference.

I'll let you close the issue.

[2020-09-11 16:14] X3n0m0rph59 commented on #20
Hi, thanks for your bug report!

I can confirm that there is a startup issue still lurking somewhere. The exact same crash happened to me yesterday. It seems to be very rare though. I will look into it soon...

[2020-10-04 08:32] #19 closed

[2020-10-07 20:19] GreatGlobox opened #21 "Keyboard stops responding, panics after I press a button on a second keyboard (Ryos)."
Eruption is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Eruption is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A P

[2020-10-07 20:40] X3n0m0rph59 commented on #21
Hi! Thank you for submitting this bug report!

This seems to be a problem with the device selection code for the mouse device. It wrongly selects your `ROCCAT Ryos MK FX` instead of the `Cooler Master Technology Inc. MM710 Gaming Mouse` device.

Could you please try to change `/etc/eruption/eruption.conf`:

[code]

[2020-10-07 20:51] GreatGlobox commented on #21
Thanks, I just tried that, then unplugged the Ryos and tried to run it again. It seems to say that it finds the keyboard, but then just halts again while it doesn't respond.

 INFO  eruption > Starting user-mode driver for ROCCAT Vulcan 100/12x series keyboards: Version 0.1.16
 INFO  eruption > Loading saved state...
 WARN  eruption > Could not parse state file: Could not load global runtime state

[2020-10-07 20:59] X3n0m0rph59 commented on #21
Could you please try to update the firmware of your Vulcan keyboard to the latest revision by using the ROCCAT Swarm software?

[2020-10-07 21:12] GreatGlobox commented on #21
Since I don't have Windows, I'll have to get someone else's computer in order to do so, but I'll try this and then get back to you.

[2020-10-08 00:35] GreatGlobox commented on #21
After the firmware update, it throws me a Lua error:

 INFO  eruption > Starting user-mode driver for ROCCAT Vulcan 100/12x series keyboards: Version 0.1.16
 INFO  eruption > Loading saved state...
 WARN  eruption > Could not parse state file: Could not load global runtime state: configuration file "/var/lib/eruption/eruption.state" not found
 INFO  eruption > Registering plugins...
 INFO  eruptio

[2020-10-08 06:12] X3n0m0rph59 commented on #21
It is looking for `/usr/share/eruption/scripts/lib/themes/default.lua`. Could you please double check that this file exists in your filesystem? The directory has to contain `gaming.lua` as well.

[code]

And please be sure that you don't run a debug build, it has to be compiled with `cargo build --release`. Otherwise the default include search paths would differ.

[2020-10-08 16:50] GreatGlobox commented on #21
Oh, that seems to be what the issue was. For some reason, my system had created /usr/share/eruption/scripts/lib/themes as a file instead of a directory, I guess I had made a mistake while copying the files. Anyway, it works now, thanks a lot!

[2020-10-08 19:14] X3n0m0rph59 commented on #21
Great that it works now! Please feel free to open up new issues and feature requests anytime!

[2020-10-08 19:14] #21 closed

[2020-10-20 06:06] erockce opened #22 "Roccat Kova AIMO Mouse...Supported?"
I just purchased this RGB mouse to match my Vulcan keyboard.

The lighting on the wheel and feet shift through colors between red, yellow, and orange, and on click of the left side back extra button changes the color briefly to blue, but otherwise doesn't appear to match anything with the keyboard despite the profile selected. Some of the newest profiles containing `mouse` like `swirl-voronoi.prof

[2020-10-20 12:48] X3n0m0rph59 commented on #22
Hi! Thanks for the excellent and detailed issue report! This mouse is currently not supported, but I am definitely interested in adding support for it to Eruption. Since I am lacking the hardware it would be really nice if you could send me some packet dumps of the initialization sequence of your Kova.

Yes, that means there only will be the basic HID device functionality, as configured by the ker

[2020-10-21 03:31] erockce commented on #22
@X3n0m0rph59 , of course I will help!

No need for a detailed HOWTO right now. I work in IT and have been using UNIX/Linux variants for 25 years, but I'm not a kernel device driver developer!

Please point me in the right direction to start (e.g. strace, lsof, etc) and will get you some data!

[2020-10-21 05:37] X3n0m0rph59 commented on #22
Great! Glad to hear that!

Basically I need a *.pcapng file of the init sequence of the Kova, as sent by ROCCAT Swarm, as well as a sample where it sets the colors while in AIMO LED mode.

You need this:
* Loaded the `usbmon` kernel module
* A Windows 10 VM with ROCCAT Swarm installed
* Wireshark: Wireshark-qt works great
* Fully updated device firmware and latest Swarm software would be nice
* A

[2020-10-23 03:14] erockce opened #23 "Unplugging Mouse Causes Eruption to Panic "Could not get mouse events""
In preparing to update the firmware for my Kova, I unplugged the mouse to re-route the mouse cable.  Then what I thought was unusual was the computer fans increasing in speed!  That's when I noticed in `conky` (and `top`) that `journald` had jumped to the highest CPU usage so I checked the messages. Eruption was spamming journald/syslog.

Brief output from `journalctl -xe -u eruption`:
[code]
This

[2020-10-23 05:21] X3n0m0rph59 commented on #23
Hi! Thanks for your bug report!

It seem that the mouse events thread is spinning in a tight loop as soon as it loses connection to the mouse device.
I was able to reproduce this at first try. It will be fixed in the next release!

Btw.: If the keyboard and the mouse are connected to the same bus, then maybe you should stop the eruption daemon as well as mask the eruption.service while recording t

[2020-10-23 13:24] erockce commented on #23
My computer has a limited number of USB ports. With the recent number of new wired devices, I use a Belkin USB hub.

When I start data collecting will remember to remove non-essential devices and plug the keyboard and mouse on separate USB ports.

[2020-10-27 19:58] 1drp commented on #22
Do you know if you'd be able to tweak that process to get what you needed from a bare metal Windows install?  I have a Kone AIMO (not Kova, but still an AIMO device), that I'd like to get the LEDs syncing with the keyboard like they do on Windows.  Similar to the report on Kova performance, some profiles will recognize mouse events.

[2020-10-27 23:18] 1drp opened #24 "Feature Request: Make the brightness dial work"
The Brightness Dial (Volume knob with the "FX" button selected) registers as a whole keyboard event, but brightness is not changed.  It would be nice to be able to change brightness with this dial again (especially useful if it also changes mouse brightness).

[2020-10-28 02:32] X3n0m0rph59 commented on #22
Hi! @1drp Yes, it seems that this is possible. Please have a look at https://wiki.wireshark.org/CaptureSetup/USB in section `Windows`. You would need to set-up https://desowin.org/usbpcap/ and Wireshark.
(I have not verified that this actually works, but chances are pretty high).
Please get back to me if you need assistance!

[2020-10-28 06:53] X3n0m0rph59 commented on #24
Hi, thanks for your suggestion! I have pushed the required changes to the master branch. Please see commit 9c6a2ef.

This feature will be included in the next release.

[2020-10-28 06:53] #24 closed

[2020-10-29 09:33] 1drp opened #25 "Feature Request: Add support for Kona AIMO"
Please add support for Kona AIMO.  I captured data in a *.pcap similar to what you asked for in the Kove thread (but on a bare-metal Windows install.)  Note that my Vulkan121 was on the same root.  The Kona was on Port20, and the Vulkan was on Port21.  Also similar to the Kove, the keyboard does respond to mouse events as is.  I wiggled the mouse around a bit before and after starting swarm, and I

[2020-10-30 04:19] X3n0m0rph59 commented on #25
Thank you, the attached pcap file looks good! I have implemented a driver that should be able to initialize the device to AIMO mode and set the colors of the LEDs.

What you should see if all works out:
* The mouse should be initialized to AIMO mode
* All LEDs should briefly turn red
* All LEDs should turn blue
* The debug-tool terminates, LEDs should stay blue

Please run the following commands t

[2020-10-30 06:56] 1drp commented on #25
$ sudo ./eruption-debug-tool list
`Please stop the Eruption daemon prior to running this tool:
 $ sudo systemctl mask eruption.service && sudo systemctl stop eruption.service

 You can re-enable Eruption with this command afterwards:
 $ sudo systemctl unmask eruption.service && sudo systemctl start eruption.service

Please find the device you want to debug below and use its respective
index number

[2020-10-30 07:22] X3n0m0rph59 commented on #25
Great, so initialization basically works! It looks like I got some offsets wrong though. Hope that I can figure it out within a few tries.
Please test again with the new build of `eruption-debug-tool` version `0.0.3`

[eruption-debug-tool.zip](https://github.com/X3n0m0rph59/eruption-roccat-vulcan/files/5463512/eruption-debug-tool.zip)

[2020-10-30 20:52] 1drp commented on #25
Red then blue as described.
[code]

[2020-10-31 03:41] X3n0m0rph59 commented on #25
Great, so support for the ROCCAT Kone Aimo will be included in the next release of Eruption!

Thank you for testing this!

[2020-10-31 03:43] #25 closed

[2020-11-08 21:13] erockce commented on #22
Sorry this took a while to get to.  I just tried it out today.  Hopefully it has what you need.

I made the capture with only relevant devices like the ROCCAT KOVA mouse attached.  All other devices were generic, and I turned off the Eruption service.

ROCCAT Swarm
Software Version: 1.9379

ROCCAT KOVA
Firmware: 1.03

[code]

I performed the following steps:
1. Installed wireshark-qt
a. Added my u

[2020-11-09 05:04] X3n0m0rph59 commented on #22
Hi @erockce, that sounds great! With the packet capture I should be able to implement support for your device.

It would be nice if you could attach the capture file to a message in this thread. Alternatively you could upload it to a cloud storage/file hoster and then just post a link to it here.

If your browser is unable to read the capture file, it could be that this is due to an AppArmor profi

[2020-11-09 19:45] 1drp opened #26 "Issue: Missing Key Events, Vulcan 121"
xev does not register any events for Fn-F5 or Fn-F7.  I will map all the keys/combinations next time I boot into Windows and then compare to the same from Linux.  I will update this thread with a complete list of missing/miss-assigned keys that I find.

[2020-11-10 01:23] cheesits456 opened #27 "Add support for loading configs from user-specific directories"
I absolutely love this driver, it works amazingly well and opens up so many opportunities for doing cool stuff with the keyboard - you've done some amazing work :)

A suggestion I have is that the `eruptionctl switch profile` command should also look for profiles stored in a directory such as `~/.config/eruption/profiles`, and the `active_scripts` array should also look for scripts stored in `~/.c

[2020-11-10 03:02] X3n0m0rph59 commented on #26
That would be great! Thanks in advance!

[2020-11-10 08:26] 1drp commented on #26
I've collected the data from the Windows side, but I probably won't be getting to the Linux side until tomorrow night.  For Starters:

Fn-F1 Through Fn-F4 are kept internal to the keyboard (profile switching)
Fn-F5=182 (Computer)
Fn-F6=172 (Default Browser)
Fn-F7=180 (e-mail)
Fn-F8=183 (Calculator)
Fn-F9=177 (Previous Track)
Fn-F10=178 (Stop)
Fn-F11=179 (Play/Pause)
Fn-F12=176 (Next Track)
Fn-PRIN

[2020-11-10 08:46] 1drp commented on #26
I'm wondering if Linux doesn't use different keycodes for the "open this thing" and "media control" keys:  I did a quick run of F5-F12, and am getting different keycodes, but correct descriptions for the function.
Fn-F6=158 (XF86WWW)
Fn-F8=148 (XF86Calculator)
Fn-F9=173 (XF86AudioPrev)
Fn-F10=174 (XF86AudioStop)
Fn-F11=172 (XF86AudioPlay)
Fn-F12=171 (XF86AudioNext)

[2020-11-10 08:57] 1drp commented on #26
I think what we are looking for is
F5: `#define XF86XK_Explorer		0x1008FF5D   /* Launch file explorer        */`
F7: `#define XF86XK_Mail		0x1008FF19   /* Invoke user's mail program */`
but I haven't been able to find keycodes for those keysyms

[2020-11-10 17:38] 1drp commented on #26
I should note that I use fluxbox, so I'm not the best for testing if one of the big DEs will automatically interpret the commands correctly.  I have to manually map the keys to commands (which is how I discovered the bug in the first place).

I would say that once we have Fn-F5 and Fn-F7 sending codes correctly, that we will have sufficiently addressed this bug.  Making sure that all options for b

[2020-11-11 00:26] erockce commented on #22
[usb-roccat-kova-winvm-swarm-reset-test-color-set-reset-capture-erockce-2020NOV08.zip](https://github.com/X3n0m0rph59/eruption-roccat-vulcan/files/5520911/usb-roccat-kova-winvm-swarm-reset-test-color-set-reset-capture-erockce-2020NOV08.zip)

I'm embarassed :(  I could not upload before because an associated Github site was blocked by default by uMatrix.

You should see the attached zip file now.

[2020-11-11 02:51] X3n0m0rph59 commented on #22
Thank you very much! This looks good!

I have implemented a driver sub-module in `eruption-debug-tool`.

* It seems like the init sequence of the ROCCAT Kova AIMO is much like that of the ROCCAT Kone Aimo.
* It seems to have two distinct configurable colors
* There is a major difference in the way the colors are set. The Kova AIMO is using a completely different feature report there

Please run th

[2020-11-11 15:19] X3n0m0rph59 commented on #26
Yes, you are right! With commit 2559364 I did enable some evdev keycodes on the Eruption virtual keyboard device, which were previously missing. I also changed `KEY_WWW` to `KEY_HOMEPAGE`, since this is what the keyboard emits without Eruption being running.

|Key| evdev event | X KeySym |
| --------- | -------------------- | ---------------------- |
| F5 | KEY_FILE | XF86XK_Explorer |
| F6 | KEY_

[2020-11-12 03:01] erockce commented on #22
In #25, @1drp mentioned cycling through buttons and the wheel.  I didn't do that in my trace.  Do you need this information to get all the buttons working?

Using `evtest` it seems that some button events are spread across multiple `/dev/input/event*` devices (sorry I'm not a Linux kernel device expert, just have learned enough to get by).

Device 15:
[code]
Device 19
[code]
Device 20:
[code]
(Thi

[2020-11-12 03:11] erockce commented on #22
By the way I recently updated packages and now have Eruption 0.1.17.

I tried using the debug tool without arguments and having glib dependency issues.
[code]
[code]

This is Ubuntu 18.04.  I plan to upgrade to 20 maybe in a couple more weeks.

[2020-11-12 05:11] X3n0m0rph59 commented on #22
Hi @erockce,

No, this information is not strictly necessary to write a driver sub-module. Only the device initialization sequence, as well as setting of the colors when the device is in AIMO mode are strictly required.
(To get DPI switch notifications Eruption needs to listen to USB HID events though, for which I maybe need further data gathered via the `eruption-debug-tool`, not via Wireshark)

[2020-11-12 05:28] X3n0m0rph59 commented on #22
@erockce This one should link to the correct libc:

[eruption-debug-tool.zip](https://github.com/X3n0m0rph59/eruption-roccat-vulcan/files/5528430/eruption-debug-tool.zip)

[2020-11-12 07:22] X3n0m0rph59 commented on #27
Hi! Thanks for your feature request!

I thought about implementing this too, since user supplied scripts/per-user profiles would be really nice to have! I refrained from implementing it because of the security implications this has. It would require a huge change in the security model of Eruption. The Eruption daemon needs to run with elevated privileges to access the hardware. If it would be poss

[2020-11-12 07:45] cheesits456 commented on #27
Perhaps you could add a toggleable option to read profiles and scripts from the `.config` directories, and provide a warning about the security implications? Because for people who only use their computers for themselves and only have a single account on the computer, that isn't so much of a problem. Just an idea ¯\\\_(ツ)_/¯

[2020-11-12 13:24] DreamTexX opened #28 "Building from source fails: no associated item named `EPSILON` found for type `f64` in the current scope"
While building with `cargo build --all -release` the following error appears:

[code]

How can i solve this?

[2020-11-12 15:18] X3n0m0rph59 commented on #28
Hi, thanks for opening this issue!

This looks like an outdated version of Rust. Please try to upgrade at least to the latest stable release. If this is not possible for you, then you may still compile Eruption by applying a few tweaks to the build system.

Could you please provide the following information:

* What distro and which version of it are you using?
* Which version of rust are you usin

[2020-11-12 15:40] X3n0m0rph59 commented on #28
In case you are using Linux from Scratch, there exists a compatibility branch of Eruption in the branch `lfs-compat`, that should compile under LFS >= 9.1 using the old stable version of Rust.

[code]

This successfully compiles the `lfs-compat` branch on my system.

[2020-11-12 15:53] X3n0m0rph59 commented on #20
This bug seems to have vanished. I never was able to reproduce it. Please reopen this issue if the problem persists!

[2020-11-12 15:53] #20 closed

[2020-11-12 15:55] X3n0m0rph59 commented on #23
This should be fixed in Eruption `0.1.17`. Please reopen this issue if the problem persists!

[2020-11-12 15:55] #23 closed

[2020-11-12 17:48] DreamTexX commented on #28
I'm using Debian 10
And `rustc --version` outputs:
[code]

[2020-11-12 17:58] DreamTexX commented on #28
I switched to that branch, but running `cargo +stable-2020-03-12-x86_64-unknown-linux-gnu build` just fails with
[code]

[2020-11-12 18:02] DreamTexX commented on #28
And running `cargo build` in the `lfs-compat` branch gives another error...

[2020-11-12 18:06] X3n0m0rph59 commented on #28
The version of Rust in Debian 10 is really old. Is it possible for you to install stable Rust via `rustup`? This is the recommended way to build Eruption.

https://www.rust-lang.org/tools/install

[code]

[2020-11-12 18:50] X3n0m0rph59 commented on #28
You do not have to build from source, btw. You can manually download the package from the Ubuntu bionic PPA.

https://launchpad.net/~x3n0m0rph59/+archive/ubuntu/eruption-roccat-vulcan/+files/eruption-roccat-vulcan-git_0.1.17-ubuntu4_amd64.deb

[2020-11-12 20:07] DreamTexX commented on #28
Thanks, its working now. Downloaded the deb

[2020-11-12 20:07] #28 closed

[2020-11-12 21:02] 1drp opened #29 "Kone AIMO displays default colors"
My Kone is still not working with the profiles.  I rebooted and pulled the journalctl log for eruption.
[code]
I have tried all included profiles, but none will change the lights on my mouse.  (I must say that how moving the mouse moves the swirls is rather impressive).
Running Arch with 5.9.6-arch1-1

[2020-11-12 21:05] 1drp commented on #29
The things I see that may be problems:
It appears to be binding the Generic Mouse Driver
Mouse firmware revision: <not supported>

[2020-11-12 22:53] 1drp commented on #29
out of curiosity, I ran the debug tool's (0.0.3) list function, and got nothing useful:
[code]
I know that 00-03 are the keyboard and 04-05 are the mouse from our earlier work to get the mouse LEDs calibrated, but it's not very useful as is.

[2020-11-13 04:19] X3n0m0rph59 commented on #29
I believe I found the bug in Eruption. The device probing code really needs to be rewritten... I will make a new release soon.

The `eruption-debug-tool` needs to be run as the `root` user. Otherwise it wont be able to access the USB devices.

[2020-11-13 08:57] 1drp commented on #29
ah yes...works normally as root.  Had the red then blue on the mouse as expected with run-tests.
[code]

[2020-11-14 06:55] erockce commented on #22
[code]

Index 00: [eruption-debug-tool_index00.txt](https://github.com/X3n0m0rph59/eruption-roccat-vulcan/files/5540304/eruption-debug-tool_index00.txt)

The colors changed from Red to Blue, and stayed blue after the test finished.
Mouse is responsive and usable as expected (e.g. no corruption or lockups)

For a clean test between index numbers, I unplugged/plugged in the mouse and colors/theme re

[2020-11-14 07:04] X3n0m0rph59 commented on #22
@erockce Excellent! Thank you very much for trying things out!

So the next release of Eruption will ship with support for the ROCCAT Kova AIMO.

[2020-11-14 11:45] X3n0m0rph59 commented on #22
To enable detection of click events of the DPI switch button (within Eruption), I would need the originating USB HID subdevice and the byte sequence that gets sent as the payload of the interrupt. Please note that this is not strictly needed for the DPI switch feature of your device to work, as switching DPI profiles is handled by the mouse hardware already. It would just complement the feature se

[2020-11-15 20:02] erockce commented on #22
Reports and traces attached.  My apologies if some of it is very redundant, but I wanted to make sure you had enough data.

Reports:
[eruption-debug-tool-report00.txt](https://github.com/X3n0m0rph59/eruption-roccat-vulcan/files/5543034/eruption-debug-tool-report00.txt)
[eruption-debug-tool-report01.txt](https://github.com/X3n0m0rph59/eruption-roccat-vulcan/files/5543035/eruption-debug-tool-report0

[2020-11-15 22:10] X3n0m0rph59 commented on #22
Great, thank you very much!

So if I interpret things correctly the DPI switch events are sent via sub-device 0. I will add support for these USB HID events to the `ROCCAT Kova AIMO` driver within Eruption.

:smile: This happens on my system too. I did not have time to fix this bug...

* Is this a bug within Eruption or are said mouse buttons non-functional, even with the Eruption daemon disabled?

[2020-11-16 06:00] erockce commented on #22
Thank you very much for the explainations provided so far.

When I used `evtest` before and pressed the buttons, depending on the `event*` chosen, it results in either an event, a control character, or nothing at all.

It will be better for me to describe the button press tests with a picture

![Roccat-KOVA-Mouse-Image-with-Number-Overlay](https://user-images.githubusercontent.com/17682973/9921763

[2020-11-16 16:18] Glog78 opened #30 "audioviz3.lua bug ?"
aur/eruption-roccat-vulcan-git 0.1.17-4
eruptionctl switch profile profile3.profile

switches to audioviz3.lua but this visualizer only shows one bar for analyzing the sound on the most left keys (ESC downwards) ... the green line on the buttom is present too. I would love to have a fancy spectrum bars all over my keyboard <3

[2020-11-16 17:23] X3n0m0rph59 commented on #30
Hi! Thank you for your bug report!

Did you follow the steps listed in the `README.md`, to enable Eruption to connect to PulseAudio?

For the audio related features of Eruption to work, it is important that you perform the steps listed here:
https://github.com/X3n0m0rph59/eruption-roccat-vulcan#after_setup

If you already completed the aforementioned configuration steps, it may be the case that th

[2020-11-16 21:26] Glog78 commented on #30
I had this setup done and everyone should do it cause else there will be a lot of messages in the logs about not being able to connect to pulseaudio. (maybe you might want to check this one)

I don't know what was the issue ... now it's working ... and yes i was checking pulse input routing
Thank you for takeing your time i will close this one for now

[2020-11-16 21:26] #30 closed

[2020-11-16 21:27] Glog78 commented on #30
Seems like some strange bug on my side. Close this for the moment.

[2020-11-18 14:19] X3n0m0rph59 commented on #29
@1drp I prepared an Arch Linux pre-release package of Eruption. It _should_ now find your ROCCAT Kone Aimo mouse. I did a complete rewrite of the device probing code. Please report back any issues you encounter. Thank you in Advance!

Please unzip the file prior to installing it:
[eruption-roccat-vulcan-git-0.1.18-0-x86_64.pkg.tar.zst.zip](https://github.com/X3n0m0rph59/eruption-roccat-vulcan/file

[2020-11-18 19:59] 1drp commented on #29
Colors work, but mouse doesn't.  No movement, and no clicks.

[2020-11-18 20:03] 1drp commented on #26
Using the beta code from issue #29, I was able to confirm that F5 through F8 are coming through as keycodes 152 (Explorer), 180 (HomePage), 163 (Mail), and 148 (Calculator).

[2020-11-18 20:15] X3n0m0rph59 commented on #29
Thanks for taking your time to test this!
I will build another package which binds the ROCCAT Kone AIMO driver to HID subdevice 1 instead of subdevice 0.

[2020-11-18 20:23] X3n0m0rph59 commented on #26
Thank you, great! I will close this issue now.

[2020-11-18 20:23] #26 closed

[2020-11-18 20:32] X3n0m0rph59 commented on #29
@1drp Please test again with this build:
[eruption-roccat-vulcan-git-0.1.18-1-x86_64.pkg.tar.zst.zip](https://github.com/X3n0m0rph59/eruption-roccat-vulcan/files/5562564/eruption-roccat-vulcan-git-0.1.18-1-x86_64.pkg.tar.zst.zip)

I hope that this one will work!

[2020-11-18 21:42] 1drp commented on #29
That seems to work.  Movement, Left, Right, Middle, scroll (up/down), DPI (up/down), forward, and back all check out.  colors are still functional.  Brightness control on the keyboard also changes mouse.

[2020-11-19 05:40] X3n0m0rph59 commented on #29
@1drp Excellent, thanks for your patience!

That's by design, they share a unified canvas. The master brightness slider in the yet-to-be published GUI as well as in the `Eruption Profile Switcher` GNOME Shell extension all change the brightness of that canvas.

Next step would be to finish support for multiple different colors. This amounts to assigning positions in the color map array to LEDs on

[2020-11-19 05:40] #29 closed

[2020-11-20 18:40] X3n0m0rph59 commented on #22
@erockce I just released version `0.1.18` of Eruption

Please note that I renamed the project, the PPA, and the Eruption (Ubuntu) package to accommodate for the recent changes in the direction of the project. Please see README.md for PPA and package names.

Eruption version `0.1.18` should display info messages in the system log, when the buttons on the Kova are clicked. It should dump hexadecimal

[2020-11-22 15:15] X3n0m0rph59 commented on #22
@erockce I have prepared a pre-release build of the upcoming Eruption `0.1.19` for Ubuntu Bionic, which _should_ support the extra mouse buttons on the Kova AIMO.

The code is mostly untested, since I am still lacking the required hardware. I had to make some guesses, so I hope that it all works out...

Please unzip the file prior to installing it:
[eruption-git_0.1.19-ubuntu0-pre_amd64.deb.zip](h

[2020-11-30 03:31] erockce commented on #22
I finally had a chance to install the pre-release package. For now I'm still using Ubuntu 18.04. I uninstalled `eruption-roccat-vulcan-git` before installing `eruption-git_0.1.19-ubuntu0-pre_amd64.deb`.  Only file I allowed that was to be overwritten is `/etc/eruption/eruption.conf`. I took backups so it will be easy to replace my custom changes as needed.

After `eruption` was started there were

[2020-11-30 03:45] erockce commented on #22
Ok, now something weird is happening after reactivating and using eruption. I can put in a separate issue, but figured since I have a pre-release, this version is "use at your own risk"!

After the restart of eruption, the mouse no longer works; no mouse click, lights, or cursor movement. So I manually unplugged and re-plugged back in but still have the same result.  I thought at first it was beca

[2020-11-30 05:48] X3n0m0rph59 commented on #22
@erockce Thanks for testing the pre-release!

This behavior is expected and by design! Previously the mouse "zone" of the LED color map completely overlapped with the "zone" of the keyboard (the numpad area was used for this). So the mouse simply reflected the color state of the keyboard. Since version `0.1.18`, the LED color map is now larger and each device has its own "zone" allocated on that c

[2020-12-05 11:24] 7ritn opened #31 "Roccat Kone Aimo adressing individual LEDs"
Hi,

first of all. I wanna thank you for this project. Since I got my mouse I looked for a driver enabling RGB for it.

When I installed it, I noticed that all the effects change all the LEDs on the mouse at the same time. I was wondering, if the ability to address the individual LEDs has been implemented already and if so, how do I address them? If not, I'd would be great to implement this featur

[2020-12-05 14:14] X3n0m0rph59 commented on #31
Hi, thank you for your request!

As you noticed, the driver sub-module for the ROCCAT Kone Aimo in Eruption `0.1.18` just shows a single color value on all the built-in LEDs. The color value is simply taken from that of the `Enter` key on the keyboard's numpad.

The upcoming release of Eruption, version `0.1.19` will ship with initial support for addressing each LED on the mouse individually. The

[2020-12-05 18:10] 7ritn commented on #31
Thanks for all that info. When I add the batique-mouse.lua script to my scripts and add it to a profile, the deamon just crashes. Is it supposed to work or do you still need to implement the shared canvas for it to work?

[2020-12-05 18:43] X3n0m0rph59 commented on #31
It is only supposed to work with Eruption version `0.1.19` and greater. I will make a new release in a few days from now!
Eruption version `0.1.18` is unable to address the LEDs on the Kone Aimo individually.

[2020-12-05 19:06] X3n0m0rph59 commented on #31
Could you please tell me which Linux distribution you are using? Maybe I can build a pre-release package, so that we can verify that the code is working correctly. Otherwise, I would have to implement the new code behind a feature gate, just to be safe.

[2020-12-05 19:19] 7ritn commented on #31
Sure, I'm using Manjaro

[2020-12-06 03:59] X3n0m0rph59 commented on #31
Hi, okay I have updated the PKGBUILD now, inside the `master` branch.

To build a package from the current state of the `master` branch please perform these steps:
* Save [PKGBUILD](https://raw.githubusercontent.com/X3n0m0rph59/eruption/master/support/pkg/arch/PKGBUILD) to a folder of your choice
* Open up a terminal, `cd` to that folder and then run the command `makepkg -crsi`. That should build

[2020-12-06 10:06] 7ritn commented on #31
I followed your steps, but couldn't install it with makepkg, because eruption.install was missing. I therefor installed the newest version via AUR and just replaced the PCKBUILD with the new one. It installed without a prolblem. However, when I start the service it crashes immediatly. However, it is able to change the colour of the mouse and the effect stays after the crash. This happens on whatev

[2020-12-06 11:50] X3n0m0rph59 commented on #31
Ah, sorry! I forgot to provide you the `eruption.install` file.

[PKGBUILD](https://raw.githubusercontent.com/X3n0m0rph59/eruption/master/support/pkg/arch/PKGBUILD)
[eruption.install](https://raw.githubusercontent.com/X3n0m0rph59/eruption/master/support/pkg/arch/eruption.install)

It would be great if you could try again to build using `makepkg`. Let's first be sure that you are using the latest L

[2020-12-06 15:46] 7ritn commented on #31
No problem! So I reinstalled eruption. Eruption crashes in profile1 even if batique-mouse.lua is disabled. Enabling it doesn't change anything. I'm no longer able to change profiles at all, so I replaced profile1 with batique-mouse-only profile. After that eruption starts normal without any error (except ERROR eruption::hwdevices                   > Failed to query HID device class: No compatible

[2020-12-06 16:04] X3n0m0rph59 commented on #31
@7ritn Great, thank you for your patience!

It _could be_ that `batique-mouse.lua` is working too, but would just require tuning of some parameters to really show differing colors on the mouse.

I just tried to reproduce the setup that you are using (an unsupported keyboard and a supported mouse), and I instantly hit multiple bugs. Will fix them now and get back to you soon!

[2020-12-06 16:29] X3n0m0rph59 commented on #31
@7ritn I just pushed out the first round of bug fixes to the Lua scripts and the generic keyboard driver! It should be much less crash prone now. To rebuild the Eruption package, please download the latest `PKGBUILD`. I updated the commit ID and package release version. (The links are still valid)

[2020-12-06 18:05] 7ritn commented on #31
Oh wow! All errors are gone. Profile1.profile is just solid and with batique-mouse.lua enabled sorta like batique. Profile2 and Profile3 are still just disabled LEDs.

Btw. how is Batique supposed to look like, do you maybe have a reference image of the pattern or video? I don't have a Roccat keyboard myself to see how it looks on the keyboard.

[2020-12-06 21:15] erockce commented on #22
Upgraded SWARM from `V1.9380` to `V1.9381`.

The KOVA Firmware is still `1.03`

I used SWARM in Windows VM to reset and set Kova to defaults again.

As far as Roccat devices I only have the KOVA plugged in during testing.

[code]

[code]

Ran
[code]
[eruption-cli-20201206-140403.txt](https://github.com/X3n0m0rph59/eruption/files/5649549/eruption-cli-20201206-140403.txt)

Referencing the picture in

[2020-12-08 14:09] X3n0m0rph59 commented on #31
Nice! Yes, most of the currently existing profiles treat the mouse as a second class citizen. The focus primarily has been on keyboard effects, until now. There are some Lua scripts that paint the full canvas, so this will include mouse support that is "by-design". More complex effects tend to be specific to a single device class though, but the different Lua scripts can be combined in a profile a

[2020-12-09 16:31] 7ritn commented on #31
Sounds awesome! Is there even anything left for me to do? :D
With all the cool scripts, I'm really envious, that my keyboard will never support any of these. Well guess it's time to buy a Roccat keyboard XD

[2020-12-14 14:26] MauritsvanderZee opened #32 "Volume control stops working"
Hi X3n0m0rph59,

First of all thank you for your awesome project! Finally I can use my Roccat Vulcan 120 with RGB support on Linux.
I as well as a friend of mine (with same keyboard) have the issue that our volume control wheel (top right corner) stopped working as soon as we loaded a profile.

Is there a fix for this?

Best regards
Maurits

[2020-12-14 15:34] X3n0m0rph59 commented on #32
Hi @MauritsvanderZee, thanks for reporting this issue!

Could you please tell me what distro and desktop environment you are using?

[2020-12-14 15:43] MauritsvanderZee commented on #32
Hi @X3n0m0rph59 ,

I am using Manjaro Linux with KDE and my friend is using Ubuntu 18.04 with Gnome.

Best regards
Maurits

[2020-12-14 23:59] X3n0m0rph59 commented on #32
@MauritsvanderZee So far I was unable to reproduce this issue on Ubuntu 18.04 using the Gnome desktop environment. Will try Manjaro with KDE desktop later. Please note that on Ubuntu 18.04, the volume level indication on the keyboard is disabled when changing the volume using the dial in the upper right corner. On Manjaro you should see the current volume level of the primary sound device, display

[2020-12-15 12:07] MauritsvanderZee commented on #32
Dear @X3n0m0rph59 ,
So the issue we have is **not** that the actual indication is not showing up. The volume itself is not adjusting at all. So if we "spin" the dial in the upper right corner nothing happens.

In the meantime I checked my firmware. It is version 136.
Please also see my output of the command you provided:

[code]

My friend however, is on an older firmware version. So on Ubuntu wit

[2020-12-16 19:57] Geistica opened #33 "Windows edition maybe?"
Hey I like the idea and it works fine on linux for me. I wish I could use it on windows too tho since there is currently no audio visualizer for windows for said Keyboard. Can you maybe port it over?

[2020-12-20 16:17] X3n0m0rph59 commented on #33
Hi! Thanks for your request! Porting to Windows would amount to a complete re-implementation of the daemon, except maybe for the Lua scripts. This is currently not planned. Im am not opposed to porting it to Windows, but I don't have the resources right now.

[2020-12-20 16:17] #33 closed

[2020-12-29 17:01] Madcliff opened #37 "Vulcan TKL support?"
Does this have support for the new Roccat Vulcan TLK and TKL Pro?

[2021-01-03 06:28] Madcliff opened #38 "Feature request: Game Mode Configuration"
On I3 the super key is often configured as the modifier key that drives much of the OS. It used to be possible to stop the gaming mode trigger from disabling particular keys, can we please get that functionality back?

[2021-01-06 05:47] X3n0m0rph59 commented on #38
Hi! Thanks for reporting this issue!
The keyboard hardware will stop sending events for the super key when "game mode" is enabled. This can be worked around by using the USB HID layer though. It should be possible to implement it this way. I will look into this soon!

[2021-01-06 05:54] X3n0m0rph59 commented on #37
Hi! The ROCCAT Vulcan TKL series keyboards are not supported yet. I would like to add support for these devices but I don't have the hardware available to test on. If you have access to one of these devices, and are willing to assist, I would need a trace of the device initialization sequence as performed by ROCCAT Swarm, e.g. captured via Wireshark.

[2021-01-06 14:08] Madcliff commented on #37
Once mine ships from Germany I will get around to giving you the output.

On a similar question about device compatibility, what was the status with the Roccat Nyth? I tried recently to use the feature set to do with mice but it didn't seem to want to recognise anything.

[2021-01-06 14:09] Madcliff opened #39 "How to execute a system function from a macro?"
So i recall that it used to be possible to execute a bash command from a macro. What is the correct syntax to do so currently?

[2021-01-11 05:48] X3n0m0rph59 commented on #39
Hi! Shell commands may be run like this:
[code]

The first parameter to the `system` function is the command name, the second parameter is a Lua table (roughly equivalent to an array) that specifies the command line parameters of the program being run.

The program will be executed with the rights of the `eruption` process (root by default).
To run the program as a different user you can do the fo

[2021-01-12 11:35] Madcliff commented on #37
Ok so how do I get the needed data for the TKL? MIne arrived this morning.

[2021-01-13 07:54] X3n0m0rph59 commented on #37
Please refer to this wiki article on how to get the required protocol traces:
https://github.com/X3n0m0rph59/eruption/wiki

The ROCCAT Nyth should be recognized by Eruption, but the state of the driver is *experimental* at best. Can you post logs of Eruption? (Please open up a separate issue for this)

[code]

[2021-01-13 08:28] #38 closed

[2021-01-14 09:12] Madcliff commented on #37
Roccat TKL linear switches
Should be USB device 27, on hub 1. Hope this is what you require.

[roccat_tkl, cap, device 27.pcapng.gz](https://github.com/X3n0m0rph59/eruption/files/5813418/roccat_tkl.cap.device.27.pcapng.gz)

[2021-01-15 15:31] Madcliff opened #40 "Nyth buttons not binding"
Buttons for the Nynth does not bind properly
[log.txt](https://github.com/X3n0m0rph59/eruption/files/5821399/log.txt)

[2021-01-15 16:39] X3n0m0rph59 commented on #37
The capture looks good! Thank you very much!

I have implemented a driver module for the ROCCAT Vulcan TKL series keyboards, based on the driver for the ROCCAT Vulcan 1xx series keyboards.

You may want to run `eruption-debug-tool` first, to test if the new driver is at least able to initialize your device.

[code]

Do you want to build from source, or do you prefer me to build a package for you?

[2021-01-15 23:32] Madcliff commented on #37
I would appreciate an arch PKG build if possible. I haven't really worked out how to install the drivers from source.

[2021-01-16 05:00] X3n0m0rph59 commented on #37
I have updated the PKGBUILD now on the `master` branch.

To build a package from the current state of the `master` branch please perform these steps:

* Unzip the attached files from [eruption-PKGBUILD.zip](https://github.com/X3n0m0rph59/eruption/files/5823862/eruption-PKGBUILD.zip)
* Run `makepkg -crsi` inside the unzipped directory
* Run the command `sudo systemctl unmask eruption.service && sud

[2021-01-16 10:01] Madcliff commented on #37
So it would appear the daemon is panicking

[code]

[2021-01-16 10:18] Madcliff commented on #40
Ok, so using the PKG build for the TKL, the driver partially functions, but the hid mapping seems to be more than a little hit and miss. I do not think it is correctly mapping the device keyboard properly.

[2021-01-16 11:17] X3n0m0rph59 commented on #37
Thanks for testing!

Did you run `sudo systemctl mask eruption.service && sudo systemctl stop eruption.service` prior to running the `eruption-debug-tool`? Otherwise the control device and maybe the LED device will be locked by `eruption`.

Could you please post the output of:
[code]

[2021-01-16 11:28] Madcliff commented on #37
[output.log](https://github.com/X3n0m0rph59/eruption/files/5824291/output.log)

[2021-01-16 11:30] Madcliff commented on #37
I chedked the dmsg logs, found this

```Jan 16 11:28:41 malleus eruption[1144194]:  WARN  eruption::hwdevices::roccat_vulcan_tkl > Outdated firmware version: 115, should be: >136```

[2021-01-16 16:29] X3n0m0rph59 commented on #40
Could you please run `eruption` with `debug` log-level enabled, and post a log of clicking the mouse buttons and the generated output?

To enable the `debug` log-level please perform these actions:

Stop and mask the daemon:
[code]

Run the `eruption` daemon from a terminal
[code]

Afterwards re-enable the `eruption` daemon
[code]

[2021-01-16 16:38] X3n0m0rph59 commented on #37
Thanks for reporting this, I just corrected the current firmware revision of the ROCCAT Vulcan TKL series keyboard to be `115`.
The revision of `136` does only apply to the  ROCCAT Vulcan 1xx series keyboards.

Do you notice a change in behavior when you select a different sub device when running `eruption-debug-tool run-tests`?
Is the driver able to set the LED colors when you specify a different

[2021-01-16 16:57] X3n0m0rph59 commented on #32
@MauritsvanderZee sorry for taking so long to reply! I am still unable to reproduce the issue.

Do you have any updates on this? Did your friend get around to update his keyboard's firmware?

Are you maybe using third party drivers, that could lock the USB HID device in any way?
Do you mind posting the output of `ps -elf`?

To make some progress on this one, could you please run `eruption` from a

[2021-01-16 17:12] Madcliff commented on #40
This all looks pretty strange to me, I started with the top row of 4 buttons, then proceeded to the middle row, and finally the bottom row. It does seem to regularly suffer from the missed HID event

 DEBUG eruption::hwdevices::roccat_nyth       > ButtonDown(13)
 DEBUG eruption::scripting::script::callbacks > Macros: HID event (mouse): 2 args: 14
 DEBUG eruption::hwdevices::roccat_nyth       > But

[2021-01-16 17:15] Madcliff commented on #40
If I were to report my suspicions, I think the Nyth with its configurations, needs a setting set somewhere for it to recignise that it has twelve buttons rather than other configurations.

[2021-01-16 17:32] Madcliff commented on #37
Only sub device 3 crashes. the others just seem to set the colour of the keyboard to the random rainbow pattern that is the default.

[2021-01-17 06:03] X3n0m0rph59 commented on #37
It should initialize the device to AIMO mode, and show a red and blue test pattern.

Did the Wireshark capture file that you made capture the initialization sequence to AIMO mode, or did it capture initialization to the rainbow pattern?

Could you please do a second capture of the device being initialized by Swarm to AIMO mode? I am especially looking for captures of the packets starting with "0xa

[2021-01-17 06:35] X3n0m0rph59 commented on #40
I think this may be the case for the evdev event reporting, but on the USB HID layer it should report each of the buttons regardless of their mapping state to a specific function or key.

I suspect that the code that handles the HID event is still wrong.
Could you please re-build eruption using the attached PKGBUILD, run it from a terminal with `debug` logging enabled, and then please post the log

[2021-01-17 10:07] Madcliff commented on #40
what is the command to run this in debug mode from the terminal?

[2021-01-17 10:36] X3n0m0rph59 commented on #40
Run the eruption daemon from a terminal with debug logging enabled:

[code]

[2021-01-17 10:41] Madcliff commented on #40
Is this what you are after?

[nyth.log](https://github.com/X3n0m0rph59/eruption/files/5825875/nyth.log)

[2021-01-20 10:11] X3n0m0rph59 commented on #37
@Madcliff I just pushed out the latest changes to the driver code. The Wireshark capture that you created seems to be equivalent to the initialization sequence of the ROCCAT Vulcan 100/12x series devices (into rainbow mode).

I now changed the ROCCAT Vulcan TKL driver to use the init sequence of the ROCCAT Vulcan 100/12x keyboards (into AIMO mode). There is at least a slight chance that this will

[2021-01-21 09:56] Madcliff commented on #37
That package just seems to break everything. Had to revert to package 18.4 to get the drivers working again

[2021-01-21 11:55] X3n0m0rph59 commented on #37
@Madcliff Then could you please try again to capture the init sequence into AIMO mode, as done by ROCCAT Swarm?

[2021-01-21 11:56] Madcliff commented on #37
I will do! Just taking some time to do it because I need to remember how to enable the USB listener before I run Qemu.

Sent from Mailspring (https://getmailspring.com/), the best free email app for work
On Jan 21 2021, at 11:55 am, X3n0m0rph59 <notifications@github.com> wrote:

[2021-01-21 18:19] Madcliff commented on #37
Device 1.13 is the TKL. I set it into snake mode first, and then into AIMO
[wireshark-tkl.zip](https://github.com/X3n0m0rph59/eruption/files/5851321/wireshark-tkl.zip)

[2021-01-22 06:54] X3n0m0rph59 commented on #37
@Madcliff Thank you very much! I have updated `eruption` as well as `eruption-debug-tool`, according to the new Wireshark capture file.

You may use the `eruption-debug-tool`, as described above, to try to initialize the ROCCAT Vulcan TKL to a red/blue test pattern.

[eruption-PKGBUILD.zip](https://github.com/X3n0m0rph59/eruption/files/5854032/eruption-PKGBUILD.zip)

[2021-01-22 09:23] Madcliff commented on #37
Still a no go. Will give it another go after the weekend is over.

[2021-01-22 15:20] DirkSchueler opened #41 "Not working with Roccat Vulcan Pro on Ubuntu 20.10"
I know the software supports this keyboard in an experimental way.
But after an successful installation, there absolutely no change.
I installed also eruption-profile-switcher - extension.
Seems there is no connection to the keyboard?

Please let me know if I need to provide any logfile, setting, etc.

Thank you for your support.

[2021-01-22 17:20] X3n0m0rph59 commented on #41
Hi, thanks for submitting your bug report!

The support for `ROCCAT Vulcan Pro` series keyboards is only available in the `master` branch of Eruption. That is, what will become version `0.1.19`. It is highly experimental, and as of now, even **completely untested**. It will probably cause serious problems.

If you want to assist in the development of Eruption, you can unzip and install the attache

[2021-01-25 18:25] DirkSchueler commented on #41
Hi!

Thank you for providing the software.

I installed it properly and was able to run the eruption service.
I ran the "eruption-process-monitor daemon" command line.

But regardless of what I changed using either the eruption-gui program or
the Eruption Profile Switcher the LEDs on the keyboard never change.

I am running Ubuntu 20.10 with Gnome Desktop 3.38.1.
What kind of information do you ne

[2021-01-25 19:38] X3n0m0rph59 commented on #41
@DirkSchueler Great, thanks for testing the pre-release package!

To debug the problem, I would need the output of the following commands:

Kernel log:
[code]

Eruption daemon log and process monitor log:
[code]

You may want to run the Eruption daemon from  a terminal to set the log level to `debug`:
[code]

the Eruption Profile Switcher the LEDs on the keyboard never change.

Do you see any kind

[2021-01-26 17:53] DirkSchueler commented on #41
Thank you for your fast reply.
Unfortunately none of the commands you provided led to any reaction on the keyboard.
I can change the profiles using FN + F<1-4>.

"eruptionctl switch profile swirl-perlin-rainbow.profile" => "Switching to profile: swirl-perlin-rainbow.profile", but nothing else happens.

Maybe this one is interesting:

"sudo systemctl status eruption.service" =>
"● eruption.service

[2021-01-26 18:22] X3n0m0rph59 commented on #41
@DirkSchueler Looks like the Eruption daemon somehow failed to initialize the keyboard.

Could you please mask the `eruption.service` and then run the daemon from a terminal:
[code]

With the output generated by the second command, I should be able to narrow down the problem!

[2021-01-27 16:41] DirkSchueler commented on #41
$ sudo RUST_BACKTRACE=full RUST_LOG=debug eruption

 Eruption is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Eruption is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the im

[2021-01-28 09:20] Madcliff commented on #37
INFO  eruption > Starting Eruption - Linux user-mode input and LED driver for keyboards, mice and other devices: Version 0.1.19
 INFO  eruption > Loading saved state...
 WARN  eruption::state > Invalid saved state: slot_names
 INFO  eruption        > Registering plugins...
 INFO  eruption::plugin_manager > Registering plugin: Keyboard - Keyboard related functions
 INFO  eruption::plugin_manager >

[2021-01-28 09:20] Madcliff commented on #37
So I will be honest, I suspect the TKL and the Regular keyboard config's are clashing and this is meaning I cannot control the keyboard.

[2021-01-28 09:26] Madcliff commented on #37
When I force restart the demon the keys get to a strange flickering pattern rather than whatever profile is set.

[2021-01-30 19:15] RoggeHaj commented on #37
Hi, I ordered a Vulcan Pro TKL that should arrive tuesday. In the meantime I set up the development environment on my Ubuntu-20.10 system and is able to build the master branch using

[code]
so I can aid with debugging once I get the keyboard if you want.

[2021-01-31 05:30] X3n0m0rph59 commented on #37
@RoggeHaj Much appreciated, thanks!

I am currently working on full support for the ROCCAT Vulcan Pro TKL keyboard. Will push the latest changes to the `master` branch in a few days.

I hope that this work will aid in getting the ROCCAT Vulcan Pro and the ROCCAT Vulcan TKL supported too.

[2021-02-02 09:23] X3n0m0rph59 commented on #37
@RoggeHaj I have just pushed out the latest changes to the `master` branch. We now have working (experimental) support for ROCCAT Vulcan Pro TKL series keyboards!

[2021-02-02 09:25] Madcliff commented on #37
I will give this a test once I get my system working again! Ended up without a computer due to reasons!

Sent from Mailspring (https://link.getmailspring.com/link/1A514F3A-514E-437E-B8BA-C58D62AC7AD6@getmailspring.com/0?redirect=https%3A%2F%2Fgetmailspring.com%2F&recipient=cmVwbHkrQUNWQVhKU1NENUJNR1ZFT0c1RkdMQUY2RVQ1VFRFVkJOSEhDNFFGNFFNQHJlcGx5LmdpdGh1Yi5jb20%3D), the best free email app for work

[2021-02-02 09:32] X3n0m0rph59 commented on #37
@Madcliff Ok, thank you! I will update the code to support the "non Pro" variant of the ROCCAT Vulcan TKL with mostly the same code as the Pro variant. But please don't expect too much! I can't promise that it will work, since I can only test on the Pro variant of the keyboard.

[2021-02-02 09:52] RoggeHaj commented on #37
@X3n0m0rph59 Sweet. I just got a message from the delivery guys that the keyboard will be delivered in roughly 8 hrs so I can give it a go tonite.

I rebuilt the latest master without any issues, but I guess I need to properly install it to get the service working properly? In the README, the last step in the `From Source` section is the build step so I'm kind of dead in the water here.

[2021-02-02 10:59] X3n0m0rph59 commented on #37
I have built a pre-release package suitable for `Ubuntu 20.04 LTS` and `Ubuntu 20.10`.

[eruption-git_0.1.19-ubuntu9_amd64.deb.zip](https://github.com/X3n0m0rph59/eruption/files/5910526/eruption-git_0.1.19-ubuntu9_amd64.deb.zip)

Please install using the following commands:
[code]

[2021-02-02 14:19] X3n0m0rph59 commented on #37
@Madcliff I have adapted Eruption to mostly use the code from the Pro variant for the driver module for ROCCAT Vulcan TKL series keyboards.

I can confirm that this works with the ROCCAT Vulcan TKL Pro. As said before I don't have a  ROCCAT Vulcan TKL (non-pro) to test on.

[eruption-PKGBUILD.zip](https://github.com/X3n0m0rph59/eruption/files/5911672/eruption-PKGBUILD.zip)

[2021-02-02 17:38] RoggeHaj commented on #37
So, I tried the pre-release package and I must say that I'm really impressed with it. The only thing I've found so far is that after reboot the Win-key was not working until i fired up the eruption-gui.

[2021-02-03 06:01] X3n0m0rph59 commented on #37
@RoggeHaj Thanks for your feedback! If you find more bugs, then please feel free to open up issues any time!

[2021-02-03 08:24] Madcliff commented on #37
So with the new package it does the initialization then it seems to freeze for me. Sent on the go with Vodafone
-------- Original message --------From: X3n0m0rph59 <notifications@github.com> Date: 3/2/21  6:01 am  (GMT+00:00) To: X3n0m0rph59/eruption <eruption@noreply.github.com> Cc: Madcliff <maddisonclifford@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [X3n0m0rph59/eruption] Vul

[2021-02-03 09:11] X3n0m0rph59 commented on #37
@Madcliff Could you please provide the output of the following commands?

[code]

[code]

I am working on another package, please stay tuned...

[2021-02-03 09:30] Madcliff commented on #37
Output of both commands

-- Journal begins at Tue 2021-02-02 10:49:16 GMT, ends at Wed 2021-02-03 09:26:08 GMT. --
Feb 02 19:20:42 archlinux systemd[1]: Starting Linux user-mode input and LED driver for keyboards, mice and other devices...
Feb 02 19:20:42 archlinux systemd[1]: Started Linux user-mode input and LED driver for keyboards, mice and other devices.
Feb 02 19:20:42 archlinux eruption[167

[2021-02-03 10:08] X3n0m0rph59 commented on #37
I changed the way that Eruption sends LED state data to the keyboard. But judging from the log output, I bet that it still won't work, because Eruption fails to initialize the device earlier. Could you please redo the Wireshark packet capture? I mostly need the initialization sequence that SWARM sends to the device (to AIMO mode). This initialization sequence is missing from the previous packet ca

[2021-02-04 09:45] RoggeHaj opened #42 "Add per-user config directory"
I think it would be beneficial if eruption had support for a local user config directory, `${HOME}/.config/eruption`, or similar that would allow overriding the central scripts and config files as well as adding new scripts without having to modify the central files.

[2021-02-04 10:07] RoggeHaj commented on #37
I noticed a discrepancy between the key assignment in the eruption-gui and the keys on the Vulcan TKL keyboard. It was very obvious for the `Gaming: Generic` profile as can be seen in the screenshot
![Screenshot from 2021-02-04 11-03-52](https://user-images.githubusercontent.com/65942062/106877395-fe478080-66d8-11eb-9a6e-b09f8fbe654a.png)

On the keyboard, the `W` `A` `S` `D` are lit as intended.

[2021-02-04 12:17] RoggeHaj commented on #42
*sigh* I really need to improve my reading skills.

[2021-02-04 12:17] #42 closed

[2021-02-04 12:17] X3n0m0rph59 commented on #42
@RoggeHaj, thanks for your feature request! This has been requested multiple times, and I too think that it would be really nice to have per-user config directories. This feature mainly does not exist at the moment, because of the security implications this has.

Please see issue #27

[2021-02-04 12:28] X3n0m0rph59 commented on #37
@RoggeHaj thanks for reporting this issue! The GUI is not ready for prime time yet, it is still missing many even the most basic features. The next tech preview `0.0.3` will include support for TKL keyboard variants. I am currently working on that. Version `0.0.2` of the GUI just supports the standard form factor keyboards (ROCCAT Vulcan 100/12x).

I will build a new pre-release package in a few d

[2021-02-04 14:32] Madcliff commented on #37
I have tried to do another USB dump. Let's see if it has what you need. it defaulted to AIMO, I moved the settings from AIMO, but always back in the direction of AIMO. It should be device 30 on hub 5, and device 31 after I reconnected it.

Sent from Mailspring (https://link.getmailspring.com/link/B6A4C0A2-D472-4D6E-B75F-4DA36E9AAAA6@getmailspring.com/0?redirect=https%3A%2F%2Fgetmailspring.com%2F&r

[2021-02-04 15:36] X3n0m0rph59 commented on #37
@Madcliff The attached file seems to be missing!

[2021-02-04 16:10] Madcliff commented on #37
[usbdump.pcapng.gz](https://github.com/X3n0m0rph59/eruption/files/5927018/usbdump.pcapng.gz)

[2021-02-04 16:10] Madcliff commented on #37
That worked!

[2021-02-04 18:59] X3n0m0rph59 commented on #37
@Madcliff Thank you for the capture file! The trace contained much more usable information this time. I have adapted the respective driver sub-module. There is at least a slight chance that it might work!

[eruption-PKGBUILD.zip](https://github.com/X3n0m0rph59/eruption/files/5927870/eruption-PKGBUILD.zip)

[2021-02-04 21:56] Madcliff commented on #37
[mcliff@archlinux eruption]$ sudo systemctl stop eruption.service
[mcliff@archlinux eruption]$ sudo RUST_BACKTRACE=full RUST_LOG=debug eruption

 Eruption is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Eruption is d

[2021-02-04 21:57] Madcliff commented on #37
Feb 04 21:54:59 archlinux systemd[1]: Stopped Linux user-mode input and LED driver for keyboards, mice and other devices.
Feb 04 21:55:08 archlinux systemd[1]: Starting Linux user-mode input and LED driver for keyboards, mice and other devices...
Feb 04 21:55:08 archlinux systemd[1]: Started Linux user-mode input and LED driver for keyboards, mice and other devices.
Feb 04 21:55:08 archlinux erupt

[2021-02-05 00:53] Madcliff commented on #37
More findings, running the backtrace sorta works, but it is very buggy. When I run sudo backtrace it applies the LED profiles even while telling me that the LED device cannot be accessed, But running the driver normally doesn't work at all.

Also macros appear to not work yet :-D

[2021-02-05 03:19] X3n0m0rph59 commented on #37
@Madcliff So did you see the LEDs light up? The logs from your latest post seem to indicate that it successfully initialized the keyboard device.

Do you see a red and blue test pattern when you run the commands:

[code]

On my system, subdev 1 of the ROCCAT Vulcan Pro TKL has index 5. So I continue with that one...

[code]

The keyboard should now switch from showing red LEDs to showing blue LEDs

[2021-02-05 22:27] Madcliff commented on #37
Yes doing that worked perfectly fine!  lights switched from red to blue.

[2021-02-09 14:14] Madcliff commented on #37
The switching between though only works when I start the service in the debug mode. Trying to start the service normally just bugs out.

[2021-02-11 02:59] #39 closed

[2021-02-12 08:38] X3n0m0rph59 commented on #37
Hi @RoggeHaj, @Madcliff
I have built a new pre-release package suitable for `Ubuntu 20.04 LTS` and `Ubuntu 20.10`, and a new PKGBUILD as well.

It contains a few new features, general bug fixes and fixes to the initialization sequences of most supported devices.

[eruption-git_0.1.19-18_amd64.deb.zip](https://github.com/X3n0m0rph59/eruption/files/5970472/eruption-git_0.1.19-18_amd64.deb.zip)

@Mad

[2021-02-13 12:55] Slypth opened #43 "Support for Roccat Khan Aimo"
Hi there, I have always wanted to be able to use my Khan Aimo headset on Ubuntu, but there has never been support for it. I would love to be able to get it working. It would be really useful for me, and would save me a few. If I can help in any way, please let me know.
- Thanks.

[2021-02-13 13:36] X3n0m0rph59 commented on #43
Hi @Slypth! Thank you for your feature request!

I am interested in adding support for this device to Eruption. What features do you have in mind specifically? Do you want support just for the AIMO LED lighting, or does the headset have any other features that require special support?
(I currently don't have access to this device, so I can't tell what already works on Linux and what does not)

To

[2021-02-15 10:07] RoggeHaj commented on #37
Great. I will look into it during the day.

[2021-02-15 14:00] Madcliff commented on #37
@X3n0m0rph59 Still no joy with it starting.

[2021-02-15 14:06] Madcliff commented on #37
It appears that the last subdev on the TKL craches. The first two work fine and the keyboard will initialize to blue. But the last will do the following.

Index: 07: ID: 1e7d:2fee ROCCAT/ROCCAT Vulcan TKL Subdev: 3
The application panicked (crashed).
Message:  Could not open LED sub-device: OpenHidDeviceError
Location: eruption-debug-tool/src/hwdevices/mod.rs:132

Backtrace omitted.
Run with RUST_

[2021-02-15 16:45] DirkSchueler commented on #41
Any progress on this topic? Do I need to provide more information?

[2021-02-15 17:28] X3n0m0rph59 commented on #41
@DirkSchueler Sorry for taking so long to reply! Had been busy preparing a new release.

Since I don't currently have access to a `ROCCAT Vulcan Pro` (non-TKL variant), and therefore am unable to test, could you please provide me with Wireshark traces of the USB bus traffic generated by ROCCAT Swarm?

There is at least a chance to get this working, even without me having access to the keyboard mod

[2021-02-15 17:51] X3n0m0rph59 commented on #37
@Madcliff Thanks for testing this again!

Could you please show me the output of the following commands:
[code]
This should print `eruption-git 0.1.19-23`. If you don't have this installed then please update to the latest version.

Then please post again the full output of the following command:
[code]

With this information I should be able to see at which step of the initialization sequence it b

[2021-02-15 17:59] X3n0m0rph59 commented on #37
@Madcliff Please post the output of this command too:

[code]

This will allow us to rule out any errors caused by other software grabbing the device file.

[2021-02-15 18:24] Madcliff commented on #37
[mcliff@archlinux ~]$ pacman -Q eruption-git
eruption-git 0.1.19-23
[mcliff@archlinux ~]$ sudo RUST_LOG=debug eruption
[sudo] password for mcliff:

 Eruption is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Eruption i

[2021-02-15 18:28] X3n0m0rph59 commented on #37
@Madcliff Strange, it does not log any errors at all...

Could you please post the full output of this command:
[code]

[2021-02-15 19:32] Madcliff commented on #37
As the same bug is now occuring with a regular vulcan connected I am sending the log of that.

[mcliff@archlinux PokEditor_v1.9.1]$ sudo RUST_LOG=trace eruption

 Eruption is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version

[2021-02-15 19:33] Madcliff commented on #37
Roccat TKL now

[mcliff@archlinux PokEditor_v1.9.1]$ sudo RUST_LOG=trace eruption

 Eruption is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Eruption is distributed in the hope that it will be useful,
 but WITHOUT AN

[2021-02-15 21:07] Madcliff commented on #37
Ok some more testing. There appears to be an issue with the Nyth that blocks the keyboard loading.

[2021-02-15 21:39] X3n0m0rph59 commented on #37
@Madcliff Thanks for narrowing that issue down! I was starting to think that too... I bet the driver code for the ROCCAT Nyth is deadlocking on requesting an exclusive grab.

Could you please try with `/etc/eruption/eruption.conf`:
[code]

[2021-02-15 21:41] Madcliff commented on #37
I did and now everything works, well macros don't work for the TKL, but everything else works again!

Sent from Mailspring (https://link.getmailspring.com/link/56BF7A52-4D9B-462F-9FB5-94FE38B11493@getmailspring.com/0?redirect=https%3A%2F%2Fgetmailspring.com%2F&recipient=cmVwbHkrQUNWQVhKVElHTU0yNkg0NElGRVBTRDU2RzNGVDVFVkJOSEhDNFFGNFFNQHJlcGx5LmdpdGh1Yi5jb20%3D), the best free email app for work
On

[2021-02-15 21:44] X3n0m0rph59 commented on #37
@Madcliff Great! Thank you for your patience!

[2021-02-15 21:45] Madcliff commented on #37
Guess this means there is a bug to fix in the Nyth lol :-D

[2021-02-16 07:05] RoggeHaj commented on #37
I tried the new build and I really like the changes that went into the UI. I have a feature enhancement and a few quirks UI-wise that I found playing around with it. Should I open new issues for those or post them here?

[2021-02-16 07:10] X3n0m0rph59 commented on #37
@RoggeHaj Great, thanks for testing!

Please open up a new Issue for each bug or feature request!

[2021-02-16 07:12] RoggeHaj commented on #37
BTW, is the workflow for submitting patches and/or pull requests described somewhere?

[2021-02-16 07:24] X3n0m0rph59 commented on #37
No, currently there is no such description available. Will need to write something up...

[2021-02-16 07:40] RoggeHaj opened #44 "Vulcan TKL Pro missing key in GUI"
![Screenshot from 2021-02-16 08-30-45](https://user-images.githubusercontent.com/65942062/108032138-4d26db80-7032-11eb-8802-f7dcef20b056.png)

The mute (red highlight in picture) key is missing from the keyboard layout of the Vulcan TKL Pro in the GUI with **pre-release eruption-git_0.1.19-18_amd64.deb**.

[2021-02-16 15:57] Slypth commented on #43
Hi there, sorry for taking so long to get back to you.

I'm really glad to hear that you're interested in adding support for the device.
Having support for the AIMO LED lighting would be great, but the device does have some more features. I realize now that this would probably be a lot harder than I expected. One of the features emulates 5.1 surround sound. While the emulation isn't amazing, it ca

[2021-02-18 07:12] Madcliff opened #45 "Macros not working on Vulcan TKL"
The very well featured and flexible macro system is not working for the Vulcan TKL. I suspect there is a clash between certain shortcuts for setting up the macro layers, as this uses the home keys in the Vulcan and on the Vulcan TKL several of these keys are used to enable different functionality in the keyboard.

Other possibility is that the onboard functionality is being enabled when game mode

[2021-02-18 08:09] X3n0m0rph59 commented on #45
@Madcliff Thanks for reporting this issue!

I have verified that the macro system is **working** on ROCCAT Vulcan 1xx and ROCCAT Vulcan Pro TKL. So there has to be a bug with key indices in the following files:

`/usr/share/eruption/scripts/lib/hwdevices/keyboards/roccat_vulcan_tkl.lua`
`/usr/share/eruption/scripts/lib/macros/modifiers.lua`

The TKL is lacking macro keys `M1-M6`, that the standard

[2021-02-18 08:30] poldi1405 opened #46 "util completion for zsh outputs fish completions"
Running `eruption-util completions zsh` gives me a completion script for fish, not zsh. Version 0.1.19

[2021-02-18 08:37] X3n0m0rph59 commented on #46
@poldi1405 Thanks for reporting this issue!

Most of the other companion tools are currently affected by this bug as well.

[2021-02-18 08:59] #46 closed

[2021-02-18 16:11] DirkSchueler commented on #41
Sorry I do not have the time to investigate on this  topic.
Thank you for your support.
I will return my keyboard back to Roccat and switch to a brand that supports Linux

[2021-02-19 23:42] greenseeker opened #47 "runtime error in modifiers.lua: attemtp to index global 'key_to_index' (a nil value) on Pop 20.04"
On first launch of the service, it fails with:
[code]

[2021-02-20 02:45] X3n0m0rph59 commented on #47
Hi @greenseeker, thank you for submitting this bug report!

It seems that Eruption is unable to find any supported devices. Starting up with no devices at all seems to trigger this bug.
Could you please tell me what devices you have connected to your system?

[code]

[2021-02-20 17:43] greenseeker commented on #47
Hi @X3n0m0rph59,

It's the Kone AIMO Remastered:
`Bus 003 Device 002: ID 1e7d:2e2c ROCCAT ROCCAT Kone Aimo 16K`

If not supported, please let me know if I can provide anything helpful. I am not a developer but I am a Linux engineer.

[2021-02-22 07:25] X3n0m0rph59 commented on #47
@greenseeker The ROCCAT Kone Aimo **16K** is currently not supported by Eruption. To add support for it, I would need a trace of the packets sent over the USB bus to the device, during the device initialization sequence done by ROCCAT Swarm.

This can be achieved using the `usbmon` Linux kernel module as well as Wireshark, capturing the USB traffic originating on a Windows 10 VM that is running RO

[2021-02-27 08:37] TheMysteriousOH commented on #47
Hi @X3n0m0rph59,
I have the same Issue with the **Roccat Vulcan Pro**.
My System is Arch Linux.
Attached you find the journal log.
[eruption.log](https://github.com/X3n0m0rph59/eruption/files/6053976/eruption.log)

[2021-02-27 12:08] TheMysteriousOH commented on #47
Here is a ROCCAT Swarm Capture for the ROCCAT VULCAN Pro
[ROCCAT_SWARM_Capture.pcapng.zip](https://github.com/X3n0m0rph59/eruption/files/6054357/ROCCAT_SWARM_Capture.pcapng.zip)

[2021-02-28 04:27] X3n0m0rph59 opened #48 "Add Support for ROCCAT Vulcan Pro"
This issue will track the progress on the support for the ROCCAT Vulcan Pro series keyboards.

_Originally posted by @TheMysteriousOH in https://github.com/X3n0m0rph59/eruption/issues/47#issuecomment-787037147_

[2021-02-28 08:39] X3n0m0rph59 commented on #48
@TheMysteriousOH, thank you very much for providing the USB capture file! I have updated the codebase respectively. Since I currently do not have access to a ROCCAT Vulcan Pro, this is entirely untested.

I pushed out the latest changes to the `master` branch. You may want to build it using the `PKGBUILD` from `support/pkg/arch/PKGBUILD`.

Running `eruption-debug-tool` on your device should give y

[2021-02-28 10:48] TheMysteriousOH commented on #48
@X3n0m0rph59 thank you for your work.

Herte is the result of my test:
[code]
But I did not get the red/blue test Pattern

[2021-02-28 14:19] X3n0m0rph59 commented on #48
@TheMysteriousOH, thanks for taking your time to try this out! I just pushed out the latest batch of changes to the `master` branch. Again, this code is entirely untested, since I have no access to the hardware.

I believe that I fixed multiple bugs within the code of the ROCCAT Vulcan Pro driver module. Please try again with `eruption-debug-tool` revision `0.0.7`.

[code]

[2021-02-28 20:12] greenseeker commented on #47
[kone_aimo_remastered.pcapng.gz](https://github.com/X3n0m0rph59/eruption/files/6057876/kone_aimo_remastered.pcapng.gz)
Let me know if I've done this incorrectly or if you need anything else.

[2021-03-01 06:21] TheMysteriousOH commented on #48
@X3n0m0rph59, thank you for the reply.
The test with the eruption-debug-tool have the same result.
No change of the keyboard lights.

[code]
In the next step I have unmask the eruption.service and unplug and replug the keyboard.
Attached you find the systemlog, maybe this will help.
[eruption.log](https://github.com/X3n0m0rph59/eruption/files/6059472/eruption.log)

Please, let me know if you need

[2021-03-01 07:13] X3n0m0rph59 commented on #48
@TheMysteriousOH, thanks again for testing and for providing the log file! I just fixed two bugs that crept in. I hope that it works now...

Please be sure that you are using version `0.0.8` of the `eruption-debug-tool`.

[2021-03-01 07:40] TheMysteriousOH commented on #48
@X3n0m0rph59, good Job.
Thank you very much. It is working now.
The eruption.service is also running.

If you need further tests for release, please let me now.

[2021-03-01 07:52] X3n0m0rph59 commented on #48
@TheMysteriousOH great! I am glad that the initialization of the device is working now!

What probably will not work currently:

* The `FN` key?
* Highlight of the macro keys `M1-M6` when `FN` is pressed?
* Neighbor topology maps still need to be updated, some effects will show wrong results when keys on the numpad are pressed
* Some of the parameters in `eruption/src/scripts/lib/hwdevices/keyboar

[2021-03-01 10:36] TheMysteriousOH commented on #48
FYI:

When I press the `FN` key the following keys are highlighted:
`M1` - `M6`
`F1` - `F4`
`F9` - `F12`

[2021-03-01 16:59] DirkSchueler commented on #41
Back in action. Kept my Roccat Vulcan Pro.
Tried to install software from source.
Last line "cargo build --all --release"
delivered :

`   Compiling eruption-gui v0.0.6 (/home/dirk/data/eruption/eruption-gui)
   Compiling mlua v0.5.1
   Compiling typenum v1.12.0
   Compiling radium v0.6.2
error: failed to run custom build command for `mlua v0.5.1`

Caused by:
  process didn't exit successfully: `/

[2021-03-01 17:10] X3n0m0rph59 commented on #41
@DirkSchueler to build from source on Ubuntu you need to install the following dev-dependencies:

[code]

[2021-03-01 17:14] X3n0m0rph59 commented on #48
@TheMysteriousOH, okay at least this part seems to be working as intended!

[2021-03-01 19:17] DirkSchueler commented on #41
Much better!
But not successful, due to

`   Compiling dbus-tokio v0.7.3
error[E0277]: the trait bound `i32: std::os::unix::io::AsRawFd` is not satisfied
   --> /home/dirk/.cargo/registry/src/github.com-1ecc6299db9ec823/dbus-tokio-0.7.3/src/connection.rs:59:16
    |
59  |     Registered(AsyncFd<RawFd>),
    |                ^^^^^^^^^^^^^^ the trait `std::os::unix::io::AsRawFd` is not implemented f

[2021-03-02 05:25] X3n0m0rph59 commented on #41
What version of rustc are you using? Looks like the packaged one from Ubuntu. That would be the old stable release, version `1.47`.

[code]

To build Eruption from source, you need to install the current stable rust branch preferably using [rustup.rs](https://rustup.rs/).

[code]

[2021-03-02 07:43] DirkSchueler commented on #41
Thanks for your help.
Now compilation went fine.
` Compiling eruptionctl v0.0.2 (/home/dirk/data/eruption/eruptionctl)
   Compiling eruption-util v0.0.1 (/home/dirk/data/eruption/eruption-util)
   Compiling eruption-debug-tool v0.0.8 (/home/dirk/data/eruption/eruption-debug-tool)
   Compiling eruption-process-monitor v0.0.4 (/home/dirk/data/eruption/eruption-process-monitor)
   Compiling noise v0.

[2021-03-02 07:55] X3n0m0rph59 commented on #41
@DirkSchueler you can run Eruption from the build directory like this:

to run the debug build:
[code]
or to run the optimized build:
[code]
The optimized build makes different assumptions about search paths of scripts and profiles.

A list of all required files for an Ubuntu based installation can be found in `support/pkg/debian/install`.

[2021-03-02 08:37] DirkSchueler commented on #41
`$ sudo target/debug/eruption -c support/config/eruption.conf`
did not work, because target/debug/eruption does not exist.

But

`$ sudo target/release/eruption -c support/config/eruption.conf` led to:

 Eruption is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the Licens

[2021-03-02 08:46] DirkSchueler commented on #41
Calling `support/pkg/debian/install`
=>
Failed to copy 'support/systemd/eruption-suspend.sh': No such file or directory at /usr/share/dh-exec/dh-exec-install-rename line 51, <> line 8.
target/release/eruption usr/bin
target/release/eruptionctl usr/bin
target/release/eruption-netfx usr/bin
target/release/eruption-util usr/bin
target/release/eruption-debug-tool usr/bin
target/release/eruption-proces

[2021-03-03 19:00] thelyron commented on #22
Btw I have the same mouse in white. According from sniffing arround in the roccat-tools it seems each color has it's own USB ID.

[code]

[2021-03-04 01:19] X3n0m0rph59 opened #50 "Add support for ROCCAT Kone Aimo Remastered"
This issue will track the progress on the support for the ROCCAT Kone Aimo Remastered

_Originally posted by @greenseeker in https://github.com/X3n0m0rph59/eruption/issues/47#issuecomment-787514702_

[2021-03-04 01:26] X3n0m0rph59 commented on #50
@greenseeker, thanks for providing the capture file! Since I currently do not have access to a ROCCAT Kone Aimo Remastered, this is entirely untested.

[2021-03-07 02:33] cadenhenrich opened #51 "Build is failing"
**Describe the bug**
Both using `paru` to build and cloning the repo directly and following the instructions results in the build failing.

**To Reproduce**
Steps to reproduce the behavior:

1. Clone the git repository
2. `cd` into the directory
3. Run `cargo build --all --release`

**Expected behavior**
The build completes and an executable is the result.

**Logs**
[code]

**Please complete the f

[2021-03-07 03:08] cadenhenrich commented on #51
This looks to be an error in the `dbus-tokio` lib, although I'm not quite sure

[2021-03-07 05:08] X3n0m0rph59 commented on #51
Hi @cadenhenrich, thanks for reporting this issue!

This seems to be related to an outdated version of rust. Eruption needs at least the current stable version `1.50.0` to compile. I suspect that you are using the old stable release of rust.

[code]

If you are using rustup from [https://rustup.rs/](https://rustup.rs/), you can switch to the stable branch of rust by running this command:
[code]

[2021-03-07 06:41] X3n0m0rph59 commented on #41
@DirkSchueler I have written up some more documentation on how to build and install Eruption from source. Please find it here: [INSTALL.md](https://github.com/X3n0m0rph59/eruption/blob/master/INSTALL.md)

[2021-03-07 11:25] DirkSchueler commented on #41
Hi @X3n0m0rph59 !
Thanks for providing [INSTALL.md](https://github.com/X3n0m0rph59/eruption/blob/master/INSTALL.md)
That worked like a charm!
But...I cannot use the "Eruption Profile Switcher" anymore as it does not react to any mouse or keyboard events.

[2021-03-07 12:34] X3n0m0rph59 commented on #41
@DirkSchueler, great and thanks for testing!

I have just committed a fix for this issue to the `master` branch.

You can enable this functionality by setting `ENABLE_FUNCTION_KEYS = true` in the file `eruption/src/scripts/lib/hwdevices/keyboards/roccat_vulcan_pro.lua`

[2021-03-07 12:44] X3n0m0rph59 commented on #41
@DirkSchueler

I have committed a fix for this to the `master` branch as well!

[2021-03-07 13:09] DirkSchueler commented on #41
@X3n0m0rph59 : Pull latest verison & Rebuild all from source:
1. Working: Use the FN key to access special function keys (F5-F8)
2. Working: "Eruption Profile Switcher"
3. Not Working: Mute key
4. Not working: Keyboard Shortcut to launch Terminal was set to CTRL-ALT-T using Ubuntu settings dialog previously. It does not work anmore. If I try to assign the shortcut again it is displayed as CTRL-ALT

[2021-03-07 13:13] #44 closed

[2021-03-07 13:14] DirkSchueler commented on #41
@

[2021-03-07 13:15] DirkSchueler commented on #41
Sorry closed by mistake

[2021-03-07 16:26] TheMysteriousOH commented on #48
@X3n0m0rph59, Please let me know, if I should test the `eruption-tool`.
If I record the rows:
`sudo eruption-util record-topology rows 4`
At row 1 it jumps to row 2 after pressing the `page up` key, before I can press the keys on the `num pad`

[2021-03-07 17:03] X3n0m0rph59 commented on #48
@TheMysteriousOH It would be really cool if you could generate new, or update the existing topology maps for the ROCCAT Vulcan Pro!

The code for `eruption-util` still contains some hard-coded values and fixed assumptions. This needs to be fixed first. I will update the `eruption-util` soon, and let you know!

[2021-03-07 18:10] TheMysteriousOH commented on #48
@X3n0m0rph59 Here is the layout of the ROCCAT Vulcan Pro (QWERTZ) german layout.
I hope this will help: The `FN` Key generate no record.

**row 0** 0x00, 0x0b, 0x11, 0x17, 0x1c, 0x30, 0x35, 0x3b, 0x41, 0x4e, 0x54, 0x55, 0x56, 0x63, 0x67, 0x6c
**row 1** 0x01, 0x06, 0x0c, 0x12, 0x18, 0x1d, 0x21, 0x31, 0x36, 0x3c, 0x42, 0x48, 0x4f, 0x57, 0x64, 0x68, 0x6d, 0x71, 0x77, 0x7c, x81
**row 2** 0x02, 0x07, 0

[2021-03-07 23:18] cadenhenrich commented on #51
Yep, pretty sure this was the issue, must have been on another version of rust from another project I'm working on. Closing the issue.

[2021-03-07 23:18] #51 closed

[2021-03-07 23:20] cadenhenrich commented on #51
Also, if there is a way to include `rustup default stable` in the AUR install, that would probably be a good idea since I was also unable to install using that method.

[2021-03-07 23:37] cadenhenrich commented on #47
I'm having the same issue, but I'm using the ROCCAT Kone Pure Ultra, which is listed in the supported devices for `eruption`. This *might* be because I'm on Artix, and therefore no `systemd`, but usually I can just add the executable to the `default` run level using `rc-upate` if I copy it to `/etc/init.d/`, so I actually don't think a lack of `systemd` is the issue here.

[2021-03-08 07:38] X3n0m0rph59 commented on #47
@cadenhenrich I set up an Artix virtual machine using the `OpenRC` init system and investigated the issue, but was so far unable to reproduce. It seems that Eruption is able to build and run on non-`systemd` distros.

Maybe the Eruption daemon is somehow failing to enumerate the devices on your system. To further investigate this issue, could you please provide some logs of Eruption starting up?
[

[2021-03-08 07:46] X3n0m0rph59 commented on #47
@cadenhenrich I can reproduce it now! Starting Eruption with only a supported mouse device connected, and no keyboard, will trigger this bug. I am working on a fix for this now...

[2021-03-08 08:52] X3n0m0rph59 commented on #47
@cadenhenrich Thanks for bringing this to my attention. I believe that this problem is fixed now in the `master` branch!

The Eruption GUI version `0.0.7` (tech preview) will not work, as it currently depends on a connected keyboard.

[2021-03-08 15:20] TheMysteriousOH commented on #48
@X3n0m0rph59 I have seen that you updated the eruption-util

I have tested `sudo eruption-util record-topology rows 4`

And got an error on the 4th Row:
[code]

[2021-03-08 16:01] X3n0m0rph59 commented on #48
@TheMysteriousOH Thanks for submitting the row topology of the ROCCAT Vulcan Pro! This seems to be pretty much consistent with the configuration of the ROCCAT Vulcan 1xx:

I have updated the source code accordingly:
* `eruption/src/hwdevices/roccat_vulcan_pro.rs`
* `eruption/src/scripts/lib/hwdevices/keyboards/roccat_vulcan_pro.lua`

Row 5 is differing slightly, it seems that it is missing a key a

[2021-03-08 16:10] TheMysteriousOH commented on #48
@X3n0m0rph59 Yes you are right, sorry.
The last Key was missing `0x80` the `,` key on the Num Block
here is the correct row 5:
`0x05, 0x0a, 0x10, 0x25, 0x46, 0x53, 0x59, 0x66, 0x6b, 0x6f, 0x75, 0x80`

[2021-03-08 16:30] X3n0m0rph59 commented on #48
@TheMysteriousOH Thank you again! I have incorporated the changes into the latest push to the `master` branch.

[2021-03-09 03:23] cadenhenrich commented on #47
Seems to be fixed, although the LED keeps going from solid blue to breathing rainbow and back again. Now to figure out how to turn on the zero-debounce option!

[2021-03-09 08:29] X3n0m0rph59 commented on #47
@cadenhenrich, great!

I have looked into the zero-debounce configuration and done some Wireshark captures. I got it working on a `ROCCAT Kone Pure Ultra`!

On a `ROCCAT Kone Pure Ultra` mouse, this is how to enable zero-debounce:

- Find mouse device index like this:
[code]

So the device index on my system would be `1`.

- We need to write to the device with index `1`, as determined previously
-

[2021-03-09 13:09] cadenhenrich commented on #47
Oh wow, thanks for all the help! I was just goingto figure it out on my own, so thanks for saving me a lot of work!

[2021-03-09 17:51] cadenhenrich opened #52 "Changing mouse options"
Given the instructions,

[code]
I have to do the second way since the first option did not enable zero debounce for me (still unable to drag click). I've installed a windows VM, but the ROCCAT Swarm software does not recognize my mouse device, and whenever I try to apply the updates it prompts me for on boot the program crashes. I would ask for help elsewhere since I know this is a bit besides the

[2021-03-09 18:09] X3n0m0rph59 commented on #52
Could you please post the output of
[code]

Please replace `<your device index>` with subdevice 0 of your mouse. You can find it with
[code]

What virtualization software are you using? Did you try to forward the USB device to the Windows VM?

[2021-03-09 18:34] X3n0m0rph59 commented on #52
@cadenhenrich It could be the case that `libinput` is de-bouncing your clicks.

You may want to try to create the file `/etc/libinput/local-overrides.quirks`:
[code]

[2021-03-09 19:25] #52 closed

[2021-03-12 17:53] TheMysteriousOH commented on #48
There is a Bug with the `left Control `key.
Some Key combination are no longer working, when the **eruption.service** is started.

For example:
`Control` + `d`
`Control` + `w`
`Control` + `r`
`Control` + `t`

The right Control Key ist working

If I stoped the eruption.service, the left Control key is working as expected

[2021-03-13 06:42] X3n0m0rph59 commented on #48
@TheMysteriousOH I looked into this, but as I don't have the hardware available I can not try out any changes.

Could you please provide some more context? Eruption debug logs would be nice to have! Please rebuild from source and run:
[code]

Then press the `LEFT CTRL` key and please post the full log output!

[2021-03-13 19:44] Glog78 opened #53 "eruption and pipewire"
**Describe the bug**
Not a bug / feature request

**To Reproduce**
none

**Expected behavior**
I would love to use audio viz on distributions with pipewire

**Logs**
none

As far as i see currently pulseaudio and the root "workaround" is requiered to get the audio setup done. Could you check if it could also work with a local pulse server (localhost:port) which can be provided with pipewire too. A

[2021-03-14 04:41] Madcliff commented on #45
My FN key has the following outputs on the TKL

 DEBUG eruption::scripting::script::callbacks > Macros: HID event: 1 args: 119
 DEBUG eruption::scripting::script::callbacks > Macros: Key up: Index: 77

It feels like that when I press the FN key + PGDOWN the hardware functionality takes over rather than registering a key input. As all that registers is a HID event.

[2021-03-14 05:20] X3n0m0rph59 commented on #53
@Glog78 Thanks for posting this feature request!

I have looked into adding support for PipeWire and added some preliminary documentation on how to set up audio for PipeWire enabled Linux distributions.

I got it working using the PulseAudio interface of PipeWire on `ArcoLinux` (Arch based) using the packages `pipewire-git` and  `pipewire-pulse-git`. I only tried the unix domain socket transport,

[2021-03-14 06:03] X3n0m0rph59 commented on #45
@Madcliff Could you please show the outputs (HID event and index) when pressing the following keys:

* `PGDOWN`
* `CAPS LOCK`

[2021-03-14 10:47] Madcliff commented on #45
pgdown
DEBUG eruption::scripting::script::callbacks > Macros: Key down: Index: 111
DEBUG eruption::scripting::script::callbacks > Macros: HID event: 2 args: 106
 DEBUG eruption::scripting::script::callbacks > Macros: HID event: 1 args: 106
 DEBUG eruption::scripting::script::callbacks > Macros: Key up: Index: 111

Capslock

[2021-03-14 10:48] Madcliff commented on #45
Just a question, how do we change shift layers on the TKL variants as we do not have the macro keys

[2021-03-14 12:41] X3n0m0rph59 commented on #45
@Madcliff Thanks for posting the logs!

The EasyShift layers can be selected just like on the non-TKL variants, by entering GameMode and then pressing `CAPS LOCK` and `INSERT` - `PGDOWN`.

[2021-03-14 14:05] Madcliff commented on #45
Ah then yes, the game mode is not being entered on the TKL. It is
defaulting to the Hardware level Gamemode..

On Sun, Mar 14, 2021 at 12:41 PM X3n0m0rph59 ***@***.***>
wrote:

[2021-03-14 16:22] X3n0m0rph59 commented on #45
@Madcliff I have updated the key definitions of the ROCCAT Vulcan TKL.

Could you please verify, that you can now switch to GameMode and select EasyShift layers?

[2021-03-14 21:55] Madcliff commented on #45
Yeah this is still not working at all. I am wondering if the hardware is just redirecting the input, or if in the alternative, the macro layer is just not enabling itself.

[2021-03-15 02:19] X3n0m0rph59 commented on #45
@Madcliff I have just pushed out another update to the `master` branch. I hope that it will work now...

I suspect the latter. It is expected for the hardware to switch states when enabling GameMode. Eruption just has to keep track of this state change as well. When in GameMode, the hardware should behave somewhat differently compared to the default mode.

I have updated the driver for the ROCCAT

[2021-03-15 07:29] Madcliff commented on #45
No joy. Still not working. Maybe time to put some debugging messages into
the game-mode function.

On Sun, Mar 14, 2021 at 4:23 PM X3n0m0rph59 ***@***.***>
wrote:

[2021-03-15 08:23] X3n0m0rph59 commented on #45
@Madcliff Sounds reasonable! I have added, some more debug messages to `macros.lua`.

The following messages should get printed:

[code]

[code]

Please tell me, if you can find one of these messages in the log output.

[2021-03-15 08:43] Madcliff commented on #45
Which logs exactly?

On Mon, Mar 15, 2021 at 8:23 AM X3n0m0rph59 ***@***.***>
wrote:

[2021-03-15 09:04] Madcliff opened #54 "Corrupt profile crashes driver"
If the profile slots is ever set invalidly, it causes an irrecoverable crash in the driver. This should ideally reset to a default configuration. As stands it typically requires a purge and reinstall of the driver to get to the default profile slot settings.

[2021-03-16 18:35] Glog78 commented on #53
Thanks alot for the additional information. I think i will update to pipewire-git and pipewire-pulse-git in this case and check over. For me this one can be closed and i will report back once i can check (might take me a little).

[2021-03-16 20:03] #53 closed

[2021-03-17 06:17] TheMysteriousOH commented on #48
@X3n0m0rph59 thank you for take attention on this topic.
Sorry for my late reply, I have this keyboard only at work.

[code]

[code]
Thr keys that I have pressed:

`LEFT CTRL`
`LEFT CTRL` + `w`
`LEFT CTRL`
`LEFT CTRL` + `d`

[2021-03-17 08:30] X3n0m0rph59 commented on #54
@Madcliff I have just pushed out the first round of patches to the `master` branch, that should make the Eruption daemon somewhat less prone to crashes.

It will survive now in most cases, when a .profile file or a Lua script has invalid syntax, or encounters a runtime error.

[2021-03-17 13:27] Madcliff commented on #54
Getting a build error when I update the PKG

==> Entering fakeroot environment...
==> Starting package()...
install: cannot stat 'eruption/src/scripts/failsafe.lua': No such file or directory
==> ERROR: A failure occurred in package().
    Aborting...

[2021-03-17 16:45] X3n0m0rph59 commented on #54
@Madcliff I fixed the PKGBUILD. It should work now.

[2021-03-18 13:42] LuxLucian opened #55 "Eruption fails to start"
The program fails to start with the following

**Logs**
https://pastebin.com/DwzgTM1d

`sudo systemctl -u eruption.service -b` does not seem to work and returns " systemctl: invalid option -- 'u' "

**Screenshots (optional)**
![slurped-2021-03-18-09:40:31](https://user-images.githubusercontent.com/63475999/111635599-0ca3b480-87ce-11eb-8268-49771e3dfc22.png)

**Please complete the following informa

[2021-03-18 14:20] X3n0m0rph59 commented on #55
@LuxLucian Thanks for reporting this issue!

Eruption does not recognize your mouse device (it does not bind the driver to the device). It seems that the USB ID is missing from the list of supported hardware.

Could you please show the output of:

[code]

The command `sudo systemctl -u eruption.service -b` should read `sudo journalctl -u eruption.service -b`. I've corrected the GitHub issue templa

[2021-03-18 14:27] X3n0m0rph59 commented on #55
The driver for your device was added in the yet to be released version `0.1.20`. Eruption version `0.1.19` does not support this device. Please refer to issue #50 to track the support for your device.

[2021-03-18 14:37] X3n0m0rph59 commented on #55
I will close this issue now, please post follow-ups via issue #50.

[2021-03-18 14:37] #55 closed

[2021-03-19 01:29] X3n0m0rph59 commented on #48
@TheMysteriousOH Thank you for posting the logs! I believe this to be fixed now by the latest changes, pushed to the `master` branch.

Due to a wrong set of key indices in `eruption/src/scripts/lib/hwdevices/keyboards/roccat_vulcan_pro.lua`, the EasyShift+ feature got activated by pressing the `LEFT CTRL` key. This caused Eruption to alter the stream of generated input events, and inject the event

[2021-03-19 01:46] X3n0m0rph59 commented on #45
@Madcliff I have updated the key definitions in the `master` branch! Please try again to build from source!

Please post the full log of `sudo journalctl -u eruption.service -b`

[2021-03-20 10:48] TheMysteriousOH commented on #48
@X3n0m0rph59 Thank you for fixing the 'Left Control' bug

The following keys are highlighted in the these colors:
**ice blue**
`d` `f` `y` `x`

**light blue**
`8`
`insert`
`delete`
`left arrow`
`F7` `F8` `F9`

**red**
`Page down`

**green**
Num Pad: `8` `9` `5` `6` `1`

The following keys where highlighted in red:
`ESC` `F1`
`1` `2`
`Tab` `q` `w`
`CAPS LOCK`
`left Shift` `<`
`left Control` `Window

[2021-03-20 17:41] X3n0m0rph59 commented on #48
@TheMysteriousOH Thanks for the detailed response!

Judging from the description, it seems that the indices for the macro and function keys are still incorrect. I will look into this soon...

[2021-03-21 08:17] X3n0m0rph59 commented on #48
@TheMysteriousOH I have pushed the latest round of updates to the `master` branch!

I tried my best to guess the key indices but since I don't have access to a ROCCAT Vulcan Pro (non-TKL) I could not test this code.

Key indices are listed in the file `eruption/src/scripts/lib/hwdevices/keyboards/roccat_vulcan_pro.lua` starting at line `29`

[code]

It would be really cool if you could go through

[2021-03-21 09:12] Madcliff commented on #45
Mar 21 09:11:41 archlinux eruption[1067]:  ERROR eruption::plugins::audio               > Could not initialize the audio backend: Pulse Audio error: Could not open Pulse Audio: Connection refused
Mar 21 09:11:41 archlinux eruption[1067]:  ERROR eruption::plugins::audio               > Could not start the audio grabber: Pulse Audio error: Could not open Pulse Audio: Connection refused
Mar 21 09:11:

[2021-03-21 09:13] Madcliff commented on #45
This is what occurs after updating, switching to a profile with macros, than pressing the FN key, enabling game mode and trying to use the easy-shift key. It appears that none of those events are being properly registered.

[2021-03-21 16:00] X3n0m0rph59 commented on #45
@Madcliff I don't see any debug level messages in the log, is the `RUST_LOG=debug` environment variable set?

These are debug level messages, they won't be shown on non-debug logs:
[code]

To enable the debug messages, you can start the Eruption daemon like this:
[code]

and if you want to run from the compiled sources, then run it like this:
[code]

Then please try to enter game mode...

If possi

[2021-03-21 22:22] TheMysteriousOH commented on #48
I note the different values in the Bold Lines.

**key_to_index['FN'] = 77**

**key_to_index['F1'] = 12**
**key_to_index['F2'] = 18**
**key_to_index['F3'] = 24**
**key_to_index['F4'] = 29**

**key_to_index['F5'] = 49**
**key_to_index['F6'] = 54**
**key_to_index['F7'] = 60**
**key_to_index['F8'] = 66**

**key_to_index['F9'] = 79**
**key_to_index['F10'] = 85**
**key_to_index['F11'] = 86**
**key_to_in

[2021-03-21 22:58] Madcliff commented on #45
INFO  eruption > Starting Eruption - Linux user-mode input and LED driver for keyboards, mice and other devices: Version 0.1.20 (0.1.19.r135.g4f64061) (release build)
 INFO  eruption > Loading saved state...
 INFO  eruption > Registering plugins...
 INFO  eruption::plugin_manager > Registering plugin: Keyboard - Keyboard related functions
 INFO  eruption::plugin_manager > Registering plugin: Mouse

[2021-03-21 23:00] Madcliff commented on #45
So if I run eruption in the debug mode the journal will not record any of the events.

[2021-03-22 01:24] X3n0m0rph59 commented on #48
@TheMysteriousOH Thank you very much, this really __helped a lot__!

I have incorporated your changes to the code and pushed out the latest round of updates to the `master` branch!

The / on the NumPad is highlighted in red

I took a wild guess and assigned `key_to_index['GAME_MODE'] = 95`. If this is not the right index for the `SCRL LCK` key, you should be able to obtain the correct key index by

[2021-03-24 16:44] TheMysteriousOH commented on #48
I have now edit the file: eruption/src/scripts/lib/hwdevices/keyboards/roccat_vulcan_pro.lua
`key_to_index['GAME_MODE'] = 104`
The toggle of the Game_Mode is working, but in the opposite order:

When I'm **not** in Game Mode and I press CAPS LOCK I got the following Colors:

**red:**
`^`

**green:**
`<`
`ALT`

**blue:**
`LEFT Shift`
`F7`
`F8`
`F9`
`d` `f` `y` `x` `8`
`INSERT (M1)`
`DEL (M4)`
`RIGH

[2021-03-24 21:25] X3n0m0rph59 commented on #48
@TheMysteriousOH Thanks again for providing this information!

I believe you maybe can work around the issue by stopping the Eruption daemon, turning off game mode and then restart the Eruption daemon again.

If you hold down CAPS LOCK/EASY SHIFT while game mode is enabled, you should see:

* Flashing CAPS LOCK/EASY SHIFT key in red and white
* The keys 1, 2 and 3 should be highlighted in green, s

[2021-03-25 18:48] TheMysteriousOH commented on #48
@X3n0m0rph59 at the moment I can not reproduce the error.
At the moment there are no keys highlighted when I press the `CAPS LOCK` key.
Independently if i'm in GAME MODE or not.
Several restart of the eruption daemon did not help.

I get only keys highlighted when I press the `FN` key.

[2021-03-30 11:29] DirkSchueler commented on #48
I am using a Roccat Vulcan Pro keyboard on Ubuntu 20.10.
The last few changes you made to roccat_vulcan_pro.lua may have disturbed my keyboard settings.
( Game Mode is off )
1. Volume control does'nt have that greate gauge/progress bar light effect
2. Pressing Fn now only lights up d,f,y,x in cyan and / red and 0,1,5,8,9,6 in green
Maybe it depends on the keyboard's firmware version?

[2021-03-31 16:24] X3n0m0rph59 commented on #48
@TheMysteriousOH, @DirkSchueler I have just reverted the last changes to the "hardware definition" Lua script file of the ROCCAT Vulcan Pro.

This is entirely untested, since I lack the hardware. Please let me know if this fixes the problems.

[2021-04-01 07:59] DirkSchueler commented on #48
That's by far better!
Holding Fn key now lights F-keys, M-keys as before.
But...
1. DivideBy (/) in red light while pressing Fn
2. Still no light effect on volume change. Turning the wheel removes current Profile for approx. 1 sec.

[2021-04-07 06:38] X3n0m0rph59 commented on #54
I will close this issue now, please reopen it if the problem persists!

[2021-04-07 06:38] #54 closed

[2021-04-07 07:25] X3n0m0rph59 commented on #31
I will close this issue now! Please reopen it or create a new one if you encounter further problems!

[2021-04-07 07:25] #31 closed

[2021-04-10 20:05] GalaxyGamer5 opened #57 "Deamon not found"
So I am the dude from your Reddit post, and I tried the steps you told me to do, but I am sorry to say, the problem is still there.

I don't know why the "bug" occurred. I installed the most recent version of 20.04 Ubuntu about a week ago.
I am pretty sure I made no mistakes in the installation process.

Like mentioned I get this error message:
![Screenshot from 2021-04-10 21-53-29](https://user-i

[2021-04-11 04:32] X3n0m0rph59 commented on #57
Hi, thanks for posting this bug report!

It seems like you have hit a bug in version `0.1.19` of Eruption. This build does not fully support running in mouse only mode, without a supported keyboard being attached to the system.

I have attached a pre-release package of Eruption version `0.1.20`. If you want to try it out, please install using the following commands. (Assuming the file has been pla

[2021-04-15 11:40] the-unknown opened #58 "eruption-process-monitor not found in Ubuntu Launchpad release"
**Introduction**
Hey, first of all: Thank you soooo much for coding this tool. It's awesome and I think it is even better than the Roccat Swarm software on Windows.
I am currently using the release available on the provided Ubuntu Launchpad.

**Please describe the bug**
The current release on the Ubuntu Launchpad seems not to include the eruption-process-monitor.
`systemctl --user enable --now eru

[2021-04-15 19:22] Neovenat0r commented on #32
My System: POP OS 20.10
Keyboard: Vulcan 122

I have finally found this thread and saw that someone else has the same Problem. Eruption works like a charm but when i use the Volume Knob it doesnt switch volume, it turns down or up the Brightness of the Keyboard. No matter if the FX Key has been pressed or not. This is my output:

INFO  eruption > Starting Eruption - Linux user-mode input and LED d

[2021-04-16 06:20] X3n0m0rph59 commented on #58
Hi @the-unknown, thank you for opening this issue!

I am currently in the process of releasing new packages of Eruption `0.1.20` (for Ubuntu), ETA approximately a few hours.

[2021-04-16 06:32] man-exists opened #59 "Roccat Kone Pure Ultra not detecting on ubuntu 20.04"
I recently switched to ubuntu from windows and I needed Drivers for my roccat kone pure ultra.

When I execute Eruption GUI I get an error message that says:
The name org.eruption was not provided by any .service files

The issue repeats itself everytime i try to execute.

**Logs**
[code]

**Please complete the following information:**

 * Eruption 0.1.19
 * Mouse Device: ROCCAT ROCCAT Kone Pure U

[2021-04-16 06:48] X3n0m0rph59 commented on #59
Hi @man-exists, thank you for reporting this issue!

You have encountered a known bug in Eruption `0.1.19`. It does not work without a supported keyboard being attached to the system. I am currently in the process of rolling out new packages of Eruption version `0.1.20`, ETA a few hours. The bug should be fixed there.

[2021-04-16 08:51] the-unknown commented on #58
You're welcome :-)
However I have seen in your launchpad, that you are building packages for hirsute and groovy.
I am on focal (LTS). Could you provide a package for focal as well?

Thanks a lot.

[2021-04-16 10:14] man-exists commented on #59
thanks. btw, will there be a mouse macro feature (while holding do x)

[2021-04-16 11:34] X3n0m0rph59 commented on #58
I am on focal (LTS). Could you provide a package for focal as well?

Yes I will provide packages for Ubuntu focal as well! It might take a while though, the current build failed...

[2021-04-16 12:14] X3n0m0rph59 commented on #59
Eruption is still very much centered around the keyboard atm. I will look into advancing `macros.lua` in a direction where it will be useful for users with the "supported mouse, but unsupported keyboard" configuration. Currently we have no way of entering  `Game Mode` on unsupported keyboards. That would be required for mouse macros to work.

Did you consider using libratbag/Piper as well? I don't

[2021-04-16 13:41] X3n0m0rph59 commented on #32
Hi @Neovenat0r!

Thanks for providing the debug logs! It seems that the state machine inside Eruption gets confused somehow. I will look into this...
I noticed that your keyboards firmware revision is not the latest one that is available! Do you mind updating using `ROCCAT Swarm` on a Windows machine, and then test again?

[2021-04-16 17:38] the-unknown commented on #58
Great!
The package was released a view hours ago and I was able to update to `0.1.20`.
The mouse works now, but the main bug/error still persists: `Failed to enable unit: Unit file eruption-process-monitor.service does not exist.`

[2021-04-16 19:20] X3n0m0rph59 commented on #58
Hi @the-unknown!

I tried to make it work in a Ubuntu focal VM:
* `systemctl --user enable --now eruption-process-monitor.service` worked successfully after performing a `systemctl daemon-reload`; A reboot should suffice too. (Please be sure to not accidentally prepend `sudo` to the command)
* Please be sure to use an X11 based session. The `eruption-process-monitor` does currently not support Way

[2021-04-16 19:26] X3n0m0rph59 commented on #57
@GalaxyGamer5

I have released Eruption `0.1.20`, which should fix the bug.
Please re-open this issue or create another one if you encounter further problems!

[2021-04-16 19:26] #57 closed

[2021-04-18 20:46] the-unknown commented on #58
Hey there,

the error persists.
`systemctl --user enable --now eruption-process-monitor.service`
`Failed to enable unit: Unit file eruption-process-monitor.service does not exist.`

`systemctl --user status eruption-process-monitor.service`
`Unit eruption-process-monitor.service could not be found.`

Output of RUST_LOG=debug eruption-process-monitor daemon
[code]

[2021-04-19 04:11] X3n0m0rph59 commented on #58
@the-unknown,
seems that something is wrong with the `.service` file of  the process monitor daemon then.
The log messages `Could not poll a sensor: X11 error X11Error` that you get, are about the properties of the Xorg root window. They are not related to the problem with the service file.

Could you please post the output of the following commands:

[code]

The file `/usr/lib/systemd/user/erupti

[2021-04-19 07:38] the-unknown commented on #58
Ok, I have it up an running.

Here is what went wrong:
The output of `systemctl --user enable --now eruption-process-monitor.service` is says:
[code]
The file is there, so why does it not work??
A Google search got me here: https://unix.stackexchange.com/questions/224992/where-do-i-put-my-systemd-unit-file

There it says, that systemd files for the user need to be located at: `/etc/systemd/user` o

[2021-04-19 07:41] X3n0m0rph59 commented on #58
@the-unknown excellent, thank you very much for debugging this issue! I will update the (Ubuntu) packages respectively.

[2021-04-19 10:06] the-unknown commented on #58
You're welcome. I'm glad that I was able to help.

I think this can be closed then.

[2021-04-20 05:50] #58 closed

[2021-04-20 19:42] dmnmsc opened #61 "Please add support for Roccat Leadr."
Hi,

I have a Roccat Leadr mouse. Feel free to ping me and request anything you need.

Thank you very much.

[2021-04-21 11:55] X3n0m0rph59 commented on #61
Hi @dmnmsc, thanks for opening this feature request! I am interested in adding support for this device to Eruption.

Since I don't have access to a `ROCCAT Leadr` at this time, it would be great if you could create a `*.pcapng` file of the packets generated by `ROCCAT Swarm` as it initializes the mouse to AIMO (RGB) mode.

You might want to have a look at the [Eruption Wiki](https://github.com/X3n

[2021-04-23 05:38] poldolot opened #62 "Eruption don't detect device after Ubuntu sleep"
Hi, I have a bug after waking Ubuntu 20.04 from sleep and connecting keyboard. It started after updating to v0.1.20

Corresponding log:
[code]
I don't know if it's related but during normal use I have a lot of this in my log:
[code]

After `systemctl restart eruption.service` everything is back to normal.

 * Eruption version 0.1.21
 * ROCCAT ROCCAT Vulcan 100 AIMO - ID 1e7d:307a

[2021-04-23 11:06] X3n0m0rph59 commented on #62
Hi @poldolot, thank you for reporting this issue! I will build fixed packages soon...

[2021-04-24 04:21] X3n0m0rph59 commented on #32
Hi @MauritsvanderZee @Neovenat0r,

I just published new packages (`eruption-git`) for all supported distros that contain the commit 1432a3f. Please tell me if this fixes the issue for you!

[2021-04-24 04:30] X3n0m0rph59 commented on #62
@poldolot I just published new packages (`eruption-git`) that _should_ fix the issue!

I could not easily reproduce the problem in a Ubuntu virtual machine. Will have to set up Ubuntu on bare-metal if the problem persists.

[2021-04-25 11:05] man-exists opened #63 "Double Clicking Mouse"
I have a roccat kone pure ultra and I can't find a way to create a double click macro.

Is there a way i can do that?

[2021-04-26 07:07] poldolot commented on #62
Hi, unfortunately version 0.1.22 didn't fixed the issue and now even replugging isn't working, only service restart helps.

New log:

[code]

[2021-04-28 19:44] derEremit opened #64 "Problem setting up audio input in ubuntu 21.04"
I see no output with
pactl list source-outputs

cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=21.04
DISTRIB_CODENAME=hirsute
DISTRIB_DESCRIPTION="Ubuntu 21.04"

ls -lha /tmp/pulse-server
srwxrwxrwx 1 zen zen 0 dub 28 20:49 /tmp/pulse-server

[default.pa.txt](https://github.com/X3n0m0rph59/eruption/files/6394340/default.pa.txt)
[client.conf.txt](https://github.com/X3n0m0rph59/eruption/file

[2021-05-03 20:29] BlauerHunger opened #65 "Add Support for Ryos MK Pro"
**Introduction**
Great project, sadly docs say it doesn't support my trusty Ryos MK Pro. It is supported by the old roccat-tools.

**Device to add support for**
ID 1e7d:3232 ROCCAT Ryos MK Pro Keyboard
ID 1e7d:2ee1 ROCCAT

**Please attach your *.pcapng file, if possible**
Currently not possible, will hand in later when available if necessary.

[2021-05-06 08:41] dmnmsc commented on #61
Hi!

Can we livechat? I think I need a step-by-step for dummies. I have wireshark installed, a windows 10 VM machine running and usbmon module loaded.

[2021-05-21 17:49] the-unknown opened #66 "Ubuntu 20.04 - Window Name not detected"
**Introduction**
Hey, so I recently reinstalled my Ubuntu 20.04. I also reinstalled the newest eruption-git version.

**Please describe the bug**
The `eruption_process_monitor` does not detect a change of the window name. However that worked well right before the reinstallation of Ubuntu.

**To Reproduce**
1. Setup a fresh Ubuntu 20.0
2. Install eruption-git
3. Enable `eruption process monitor` by

[2021-05-21 17:54] the-unknown commented on #64
This could be the same error as described here:
https://www.reddit.com/r/linux_gaming/comments/5tidzc/a_solution_for_pulseaudio_pa_context_connect/

There it says:

The eruption deamon runs as root and that might be the reason why eruption cannot connect to the Pulse Audio of the user.

[2021-05-21 20:14] the-unknown commented on #66
This can be closed.
The solution was:

I edit the file `/etc/eruption/process-monitor.conf`:
[code]
and changed the last line to read `display = ":0"`.

Now it works!

[2021-06-01 12:42] bthiebault opened #67 "Compilation error"
I'm trying to install eruption but I have a compilation error:
[code]

I have the same error with the eruption and the eruption-git providers

[2021-06-07 12:52] Elrondo46 opened #68 "Key per key color"
**Introduction**
More customize keys options

**Describe The Problem To Be Solved**
There is no complete custom mode with adding effects and customize key per key color

**Describe the Solution**
Just simply adding this

[2021-06-07 15:51] Elrondo46 opened #69 "Steam crash eruption-process-monitor"
**Introduction**
Steam crash eruption-process-monitor

**Please describe the bug**
When switching to Steam window the eruption-process-monitor crash

**To Reproduce**
launch eruption-process-monitor profiles and now switch to Steam Window. And crash

**Expected behavior**
Don't have to crash and better authorize to design a keyboard profile and steam games linked to it

**Logs**
uin 07 17:41:39 er

[2021-06-17 05:35] follwersion opened #70 "Increasing volume above 100% leads to deactivated backlight"
Hi, first: I LOVE this! Thanks a bunch!

Im on:
Arch Manajro Linux 5.10.42-1-MANJARO
Cinnamon 4.8.6
with
Eruption 0.1.22 (0.1.21.r26.gb3bd27e) (release build)
and
Vulcan 121 AIMO (keyboard device: 0x1e7d:0x3098 (0001:0002:00))

The bug appears when i allow the sound output device to be leveled up to 125% volume (see screenshot) - and increase it with the volume control on the keyboard.
The white b

[2021-07-05 18:35] Shinigami92 commented on #50
If I can help in any way, feel free to contact me
I bought a Roccat Kone Aimo Remastered just now and it will (hopefully) arrive tomorrow :slightly_smiling_face:

My system:
[code]

[2021-07-06 14:26] Shinigami92 commented on #50
I run eruption from the terminal first time

without sudo

[code]

with sudo
[code]

So in both cases it doesn't start :(
I would like to configure the LEDs

[2021-07-06 15:14] Shinigami92 commented on #50
After a whole system restart, the behavior is different :eyes:

without sudo
[code]

needed to exit with CTRL + C

with sudo
[code]

[2021-07-07 06:42] budo76 commented on #32
Really thank you for this great software, and for the support. I cannot talk for @MauritsvanderZee but I think you can close this issue, because I had the exact same problem but, after updating the firmware using Roccat Swarm (on Windows) it suddenly disappeared.. so as you suggested is a matter of upgrading the firmware...

[2021-07-07 08:09] MauritsvanderZee commented on #32
Hi everyone,

yes my volume wheel is working as well after firmware upgrade on a windows machine. So please feel free to close the issue.

Thanks again for the amazing project @X3n0m0rph59

Maurits

[2021-07-18 03:09] X3n0m0rph59 opened #75 "Dim a specific zone of the canvas (e.g. if the mouse LEDs are too bright)"
### Discussed in https://github.com/X3n0m0rph59/eruption/discussions/74

<div type='discussions-op-text'>

<sup>Originally posted by **Cybugs** July 16, 2021</sup>
Hi,

does someone know how to disable or dim the LED of this mouse? You really need sunglasses if you take your hand of it...

Thanks in advance!</div>

[2021-07-18 03:32] X3n0m0rph59 commented on #75
To dim/darken a specific zone on the canvas, we may create a semi-transparent overlay that simply renders a black area. For this approach to work, it is crucial that the overlay is rendered after the `.lua` scripts that should be dimmed. This solution will be included in the release `0.1.22` of Eruption.

File `dim-zone.lua`:
[code]

File `dim-zone.lua.manifest`:
[code]

And as an example, a .prof

[2021-07-18 03:52] X3n0m0rph59 commented on #70
Hi @follwersion, thank you very much for reporting this bug! I will try to ship a fix for this issue with Eruption `0.1.22`.

[2021-07-18 03:59] X3n0m0rph59 commented on #66
@the-unknown, thanks for posting the solution to this problem!

[2021-07-18 03:59] #66 closed

[2021-07-18 04:04] X3n0m0rph59 commented on #32
Great, glad to hear that it works now! I will close this issue now.

[2021-07-18 04:04] #32 closed

[2021-07-18 04:17] X3n0m0rph59 commented on #67
HI @bthiebault, this error may be caused by an outdated version of the Rust compiler. Please try to update it using `rustup update`. You need at least Rust `1.53.0` to successfully compile Eruption.

[2021-07-19 02:02] X3n0m0rph59 commented on #69
Hi @Elrondo46, thank you for reporting this bug!

I was able to reproduce the crash with Steam. The Steam window does not report the associated process' PID. I have updated the code of the `eruption-process-monitor` to not crash when we receive an empty or invalid PID.

The fix will be shipped with Eruption `0.1.22`.

[2021-07-19 02:28] #69 closed

[2021-07-19 19:43] sellerie98 opened #76 "Massive input lag ("Jitter") on Fedora 34 x86_64 (i3/X11)"
I am experiencing massive input lag ("jitter") issues on Fedora 34 (5.12.15-300.fc34.x86_64) with the latest locally built master branch (commit ID 98342c75cf3e13188a07a7adb30a7e80e9572559). My device is the 1e7d:3098 (Vulcan 121 AIMO).

I'm typing "normally" and at some point the typing starts being very laggy and will come to a halt.
After a few seconds it will start putting out the typed charac

[2021-07-19 19:49] sellerie98 commented on #76
BTW: I also created this issue on Gitlab 2 months ago and haven't received any reaction so far sadly, hence my creation of this issue on github now. Sorry if you feel bothered by double-posting.

[2021-07-20 02:05] X3n0m0rph59 commented on #76
Hi @sellerie98, thank you for reporting this issue! I am really sorry that I did not respond to your bug report on GitLab. I somehow missed the notification E-Mail for it.

The problem you describe clearly seems to be a bug. I did go to great lengths to keep the input lag as small as possible, when using Eruption. Being a user-space driver it is not completely possible to have no input lag at all

[2021-07-20 08:46] sellerie98 commented on #76
Hi,

no problem! I just assumed you don't read gitlab issues so I recreated it here.
I saw that on Debian! I was actually surprised that the input delay was *that* low in the debian VM so that I really could not see from the delay whether eruption was running or not. Quite an achievement for a userspace application IMO.

The mouse device doesnt have a change of behaviour at all at least in regards

[2021-07-20 10:45] X3n0m0rph59 commented on #76
@sellerie98 Thank you for the logs! Judging from the log dumps, I can see nothing being wrong with your setup.

I just managed to reproduce the behavior in a Fedora 34 VM with a local build of the `master` branch! I can see input lags of up to 500 milliseconds which leads to repeated key events and it just feels horrible. I suspect that Eruption has timing issues that have been introduced relative

[2021-07-20 14:59] sellerie98 commented on #76
After a bisecting session I found that this is the first "bad" commit: 8c5889382511d6228451788660dec4abea3e6099

[2021-07-21 08:29] X3n0m0rph59 commented on #76
@sellerie98 Thank you very much for bisecting this issue! That really helped a lot!

I have looked into it, and can confirm that simply reverting the commit 8c58893 already reduces the input-lag/jitter in my Fedora 34 VM.

So I have converted the code back to not use lockless datastructures anymore, and did some additional changes that may reduce the jitter and input-lag somewhat further.

Could y

[2021-07-21 12:47] sellerie98 commented on #76
@X3n0m0rph59 Yep this is working flawlessly now on Fedora. Thanks for fixing it <3

[2021-07-21 12:47] #76 closed

[2021-07-21 17:51] X3n0m0rph59 commented on #63
Hi @man-exists, I am sorry for taking so long to respond!

The requested feature will be shipped with Eruption `0.1.22`.
In the meantime you could extend your local `/usr/share/eruption/scripts/lib/macros/user-macros.lua` with the following example code:

[code]

[2021-07-22 00:04] man-exists commented on #63
Thank you so much!

[2021-07-29 13:01] bthiebault commented on #67
Thanks, updating rust fixed the compilation error

[2021-07-29 13:01] #67 closed

[2021-07-30 18:13] Bios-Marcel opened #77 "Examples for basic (modifier+key = function) macros"
Hey,

Sorry for bothering in case I've missunderstood something. I've checked user-macros.lua in which a lot oft shift+ macros are defined, there were examples remapping keys and even mouse buttons. But is there are simple way to add a function for something like `Ctrl  Shift 1`.

I've found this example where a function is defined:

[code]

But this is only a keycode without a modifier. How'd I g

[2021-08-18 09:56] n1coh opened #78 "Input lag on Manjaro version 0.1.21 for TKL Pro"
Hello, I have lag in input on a TKL Pro, I am on Manjaro.
I have upgrade to version 0.1.21, I thought that the correction of the ticket #76 would correct the problem but not.
When executing these commands everything goes well (no lag) :
[code]

journalctl :
[code]

[2021-08-18 10:45] X3n0m0rph59 commented on #78
Hi @n1coh, thank you for reporting this issue!

Are you using the AUR package `eruption` or are you using the package `eruption-git` of which the current version would be `0.1.22.r0.gf0cb968-1`.

If you are using `eruption` then please try out the `eruption-git` package first!

If switching to `eruption-git` does not fix the problem, then please post the full output of:

[code]

And the full outpu

[2021-08-18 10:47] #63 closed

[2021-08-18 10:50] X3n0m0rph59 commented on #70
Version 0.1.22 should fix this issue. Please re-open the bug if the problem persists.

[2021-08-18 10:50] #70 closed

[2021-08-18 10:54] X3n0m0rph59 commented on #75
The problem should be circumvented in the current release `0.1.22`. Starting with Eruption version `0.1.23` we will most likely ship per-device brightness controls. Please re-open this issue if the problem is not solved for you.

[2021-08-18 10:54] #75 closed

[2021-08-18 11:30] follwersion commented on #70
Great work thank you very much!!! Beer is on the way ;-)

[2021-08-18 13:02] n1coh commented on #78
Indeed, I had not seen this update on eruption-git ... my bad
I have no more lag with this version.
Thx for your work.
I have a ROCCAT Kone Pure first of the name btw, I can help to add it to the devices list if you want.

[2021-08-18 13:02] #78 closed

[2021-08-19 01:03] X3n0m0rph59 commented on #77
Hi @Bios-Marcel,

to add one or more modifier keys to a macro invocation you would simply need to inject the respective key down and key up events into the event stream of the `Eruption Virtual Keyboard` device.

Modifier keys and their numeric codes:

| Key | Code |
| ----- | ------- |
| KEY_LEFTCTRL | 29 |
| KEY_LEFTSHIFT | 42 |
| KEY_RIGHTSHIFT | 54 |
| KEY_LEFTALT | 56 |
| KEY_RIGHTCTRL | 97 |

[2021-08-19 01:12] X3n0m0rph59 commented on #78
@n1coh Great that it works now! I will soon do a release of the non `-git` package too.

I believe the `ROCCAT Kone Pure` is not an AIMO device, but I am not completely sure about that. If it is not that would mean that the embedded controller is too slow to handle realtime color updates. It then could just be programmed to a color in a one shot mode.

Is the device compatible with ROCCAT Swarm or

[2021-08-19 12:52] Bios-Marcel commented on #77
Thanks :)

[2021-08-19 14:54] n1coh commented on #78
You are right, it seems to me that another application is needed

[2021-08-20 06:11] #77 closed

[2021-08-21 22:35] Cybugs commented on #75
Thanks a lot. Just tried the new feature and dim-zone.lua works great. With opacity=0.95 the LED on my Kone Ultra is finally eye-friendly.

[2021-08-23 16:33] LLuth0r opened #79 "Roccat Vulkan TKL - Volume knob not regulating the master volume but the global brightness"
**Introduction**
Change the volume knob control back so that it controls the volume in the system.

**Describe The Problem To Be Solved**
Not sure if this is a a problem, but how can I switch back the volume control knob so it no longer changes the brightness?  Would prefer to control audio that way.  I'm not familiar with Rust language, but would love to know how to change this setting.

**Descri

[2021-08-24 02:37] X3n0m0rph59 commented on #79
Hi @LLuth0r, thank you for reporting this issue!

The intended behavior for the dial knob on the `ROCCAT Vulcan TKL` and `ROCCAT Vulcan TKL PRO` keyboard variants is to control the master volume of the system without requiring extra configuration.

The Eruption hardware driver for the `ROCCAT Vulcan TKL` and `ROCCAT Vulcan TKL PRO` variants contains the source code for generating events that chang

[2021-08-24 11:43] LLuth0r commented on #79
Hi @X3n0m0rph59 !  Thanks for getting back to me so quickly.  So I'm on the latest firmware for my Vulcan TKL, which I updated through Swarm on Windows.  I can dual boot in, but Linux is my primary operating environment.  The button next to the volume control is the mute button.  What happens when I press it is it mutes the volume, but no subsequent turning of the volume control knob adjusts the v

[2021-08-24 12:08] X3n0m0rph59 commented on #79
Hi @LLuth0r, thank you!

That means that the current code of the Eruption device driver does not work as intended. I will try to fix this, but I currently do not have access to a `ROCCAT Vulcan TKL` keyboard. I am using a `ROCCAT Vulcan Pro TKL` variant, but this one turned out to be different in the past.

No, on the `TKL` variants of the  keyboards there is only the mute button present. The brig

[2021-08-24 12:21] LLuth0r commented on #79
Hi @X3n0m0rph59, you're welcome!  Yeah, I can absolutely build from master branch from source and test it out.  Sounds like fun!

[2021-08-24 13:05] X3n0m0rph59 commented on #79
@LLuth0r, thank you!

As it turns out, I already added the functionality to adjust the brightness via the keyboard on the `ROCCAT Vulcan Pro TKL`. The Eruption global brightness may be adjusted by using the `FN` + `Cursor UP` or `FN` + `Cursor DOWN` keys, at least it is working on the `Pro TKL` variant.

So apparently there is a difference in the underlying protocol that leads to the `ROCCAT Vulca

[2021-08-24 13:30] LLuth0r commented on #79
Here's the debug log.  Not sure if my Pulse Audio error is causing interference.

`DEBUG eruption::scripting::script::callbacks > Macros: HID event: 5 args: 0
 DEBUG eruption::scripting::script::callbacks > UserMacros: Executing: 'on_dial_knob_rotate_right'
 DEBUG eruption::hwdevices::roccat_vulcan_tkl >   |02e90000 00000000|                   ........         00000000
 DEBUG eruption::hwdevices::

[2021-08-24 13:50] X3n0m0rph59 commented on #79
@LLuth0r, thanks for providing the logs! I have updated the respective device driver and pushed it to the `master` branch.

[2021-08-24 13:54] X3n0m0rph59 commented on #79
You may want to install the `eruption-git` package on your system, then please clone the repo and build the `master` branch:

[code]

After the build finished successfully, please copy over the binaries:

[code]

Then please run this command to start the Eruption daemon:

[code]

[2021-08-24 17:26] LLuth0r commented on #79
Got this when trying to build:

error: failed to run custom build command for `libudev-sys v0.1.4`

Caused by:
  process didn't exit successfully: `/home/pak/Documents/Personal_Projects/eruption/target/release/build/libudev-sys-abbe14258899febd/build-script-build` (exit status: 101)
  --- stdout
  cargo:rerun-if-env-changed=LIBUDEV_NO_PKG_CONFIG
  cargo:rerun-if-env-changed=PKG_CONFIG
  cargo:reru

[2021-08-24 17:30] LLuth0r commented on #79
Never mind, see that it was a dependency issue.  Fixing that now.

[2021-08-24 17:43] LLuth0r commented on #79
Ok, now it's controlling both at the same time, but it only allows the brightness setting to come up slightly.  I can adjust it through the drop down back to full brightness though.  Here's the new debug log.

ERROR eruption::plugins::audio               > Pulse Audio error: Could not open Pulse Audio: Access denied
 DEBUG eruption::hwdevices::roccat_vulcan_tkl >   |0300ccff 00000000|

[2021-08-25 03:47] X3n0m0rph59 commented on #79
@LLuth0r, thanks for trying this out!

Could you please always attach to full log output, starting from the first line until the last?
In the log dump you provided I don't see any volume level changes. It only registers mute button and brightness events.

[2021-08-25 03:54] LLuth0r commented on #79
Yes absolutely!  Though it’ll be a few days before I can get back to this.
Traveling for work tomorrow through Saturday.  I’ll record the log when I
get back Saturday evening or on Sunday.

On Tue, Aug 24, 2021 at 11:48 PM X3n0m0rph59 ***@***.***>
wrote:

[2021-08-31 19:03] nenominal opened #80 "Support for Roccat Kain 200/202 AIMO"
**Introduction**
Do you plan to add support for Roccat Kain 200/202 wireless mouse?

**Describe The Problem To Be Solved**

I'm more interested in battery detection so I can know when I need to recharge the mouse.
Usually I disable all the RGB crap so battery last longer.

[2021-09-01 04:45] X3n0m0rph59 commented on #80
Hi @nenominal, thank you for your feature request!

I currently do not have access to a `ROCCAT Kain 200/202` wireless mouse, so I am unable to reverse the protocol at this time. I will consider adding support for querying battery levels as soon as I get hold of such a device.

Do you see the battery levels when using `upower`?
[code]

[2021-09-01 04:59] X3n0m0rph59 commented on #79
@LLuth0r, when rotating the dial knob Eruption will display a volume indicator on the keyboard, showing the current master volume level. The change in the level of brightness you are seeing could be caused by Eruption being unable to query the master volume. It would then just display an overlay showing a volume level of 0. If that is the case the brightness will return to the previous state after

[2021-09-01 08:28] nenominal commented on #80
Hi,

unfortunately there is no output regarding battery using upower.

[code]

If you need assistance, I can help, unfortunately I'm a sysadmin, not a developer.

[2021-09-01 15:06] LLuth0r commented on #79
Hey, sorry was gone for last week on work travel.  Here's a full log:

Eruption is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Eruption is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; w

[2021-09-02 07:20] CypherDragon opened #81 "Support for Kain 100"
**Introduction**
I'd like to request support for the Kain 100 AIMO wired mouse to be added. I own this mouse and can assist if info is needed.

**Describe The Problem To Be Solved**
Support of additional hardware

**Describe the Solution**
Add ability for eruption to control LEDs (on the mouse wheel on the Kain 100), DPI, switching, etc

[2021-09-02 07:24] CypherDragon opened #82 "Eruption GUI for MATE desktop"
**Introduction**
I would like to request creation of a GUI utility for eruption similar to the GNOME desktop extension, but for the MATE desktop environment. I unfortunately don't know enough to be able to try and convert the existing GNOME extension to MATE, but more than willing to learn with a bit of guidance.

**Describe The Problem To Be Solved**
Add support for GUI configuration in desktop e

[2021-09-02 07:27] CypherDragon opened #83 "Create installation script"
**Introduction**
I'd like to request creation of an install script to make installation of eruption easier. I am willing to assist with this request, with a little guidance. I am familiar with shell scripting, and I know a little bit of python, but haven't ever worked on an install script that ties into compiling an app before.

**Describe The Problem To Be Solved**
Make the install process easier

[2021-09-02 07:29] CypherDragon commented on #81
Just read the wiki on collecting the usb pcap - I'll work on that tomorrow and upload it as soon as I can.

[2021-09-02 07:29] X3n0m0rph59 commented on #82
Hi @CypherDragon, thank you for your feature request!

I will look into writing an extension for the MATE desktop environment. In the meantime you could try out the `eruption-git` package, that provides a technology preview version of the `Eruption GUI`.

[2021-09-02 07:35] X3n0m0rph59 commented on #81
Hi @CypherDragon, thanks for offering your help!

I am interested in adding support for the `ROCCAT Kain 100 AIMO` mouse to Eruption. As you already noticed, I need a capture of the USB traffic between `ROCCAT Swarm` and the device, mainly the init sequence and a few samples where the RGB colors are being set.

[2021-09-02 07:46] CypherDragon commented on #82
I didn't even notice that...give it a try and looks awesome! It may only be a tech preview, but the `Eruption GUI` looks like exactly what I'm asking for :)

[2021-09-02 07:46] X3n0m0rph59 commented on #83
@CypherDragon there is already documentation available that could be converted to some kind of `install.sh` script relatively easily. Please find it here: [INSTALL.md](/X3n0m0rph59/eruption/blob/master/INSTALL.md)

[2021-09-02 07:53] CypherDragon commented on #83
Yup, I was able to get eruption installed and working by following the [INSTALL.md](https://github.com/X3n0m0rph59/eruption/blob/master/INSTALL.md). I did copy the mkdir and cp commands into a quick shell.sh so I didn't have to do it manually. I'm relatively new to this kind of project though, so I wasn't sure if there would be more to the install process that could be scripted. If not, I'll work

[2021-09-02 08:05] X3n0m0rph59 commented on #83
@CypherDragon, the procedure would be to fork the Eruption repository, add the commits to your fork that make up the installation script, updated documentation, etc...  and then please submit a pull request.

[2021-09-02 14:12] X3n0m0rph59 commented on #79
@LLuth0r, thank you for the full logs. I have pushed out new commits on the `master` branch. It would be nice if you could try out the new changes.

[2021-09-02 14:18] X3n0m0rph59 commented on #80
@nenominal to add support for the device I need a trace of the packets on the USB bus that initialize the device, set RGB values, query battery levels, etc... Please find more documentation on how to capture such a trace file in the [Eruption Wiki](/X3n0m0rph59/eruption/wiki).

[2021-09-02 14:46] LLuth0r commented on #79
@X3n0m0rph59 Absolutely, will pull down and build.  Will give you a heads up afterwards.  Give me like an hour, have a meeting.

[2021-09-02 14:54] X3n0m0rph59 commented on #64
Hi @derEremit, sorry for taking so long to reply.

pactl list source-outputs

I believe I finally found the cause for this problem. You need to switch to a profile that triggers the audio grabber thread to start. The `Eruption Audio Grabber` needs to be running for this to work. Please switch to a profile that uses the audio API of Eruption.
[code]

I will update the documentation respectively.

[2021-09-02 19:35] nenominal commented on #80
https://easyupload.io/d5iuic

Hope it helps.
Just remove the zip extension from the file name, it's not an archive.

Bellow are the device's details. I captured on all usbports, for some reason wireshark didn't work on only one port but if I selected all of them, it worked.

[code]

[2021-09-03 04:45] X3n0m0rph59 commented on #80
@nenominal Thank you for providing the capture file!

It seems that this capture file does not contain the full device initialization sequence. By glancing over the data, I can only see RGB values (?) being set. Please be sure to capture the USB traffic while hotplugging the device, so that ROCCAT Swarm performs the full device initialization.

[2021-09-03 05:44] X3n0m0rph59 commented on #59
I will close this issue now, please re-open it or create a new one if the problem persists.

[2021-09-03 05:44] #59 closed

[2021-09-03 09:31] nenominal commented on #80
I captured as much as I can, see bellow new file. Just remove .zip extension
Hope it helps.

https://easyupload.io/8sbtjh

[2021-09-03 10:33] X3n0m0rph59 commented on #80
@nenominal Thanks again for providing the capture file!

I am still unable to locate the device init sequence. Would it be possible to capture the packets that ROCCAT Swarm generates while performing a reset to factory settings? I suspect that this will reset the embedded controller and trigger a full device initialization.

[2021-09-03 12:41] LLuth0r commented on #79
Looks like we're back in business!  Full volume control with the knob.  The button next to the knob acts as the mute button again.

[2021-09-03 12:58] nenominal commented on #80
https://easyupload.io/71ezd5

It includes 2 factory resets and different settings applied in swarm.

[2021-09-03 20:54] X3n0m0rph59 commented on #79
@LLuth0r Excellent! Thanks for your help!
I will close this issue now, please feel free to open up issues anytime if you encounter further problems.

[2021-09-03 20:54] #79 closed

[2021-09-06 17:32] X3n0m0rph59 commented on #80
@nenominal Thanks for providing the files! Seems like the device uses a totally redesigned protocol. Will take me a while to reverse this. I am working on it...

[2021-09-09 06:55] X3n0m0rph59 commented on #64
I will close this issue now. Please reopen it if the problem persists!

[2021-09-09 06:55] #64 closed

[2021-09-13 01:25] X3n0m0rph59 commented on #62
@poldolot Sorry, for not getting back to you earlier.

For hotplug and suspend/resume to work, the system needs to be in a state were the following command is able to run successfully:
[code]

Could you please try to run the following commands:
[code]

And the please run:
[code]

If eruption restarts successfully then suspend/resume has a great chance of working.

To debug the code that gets run d

[2021-09-13 07:20] poldolot commented on #62
Ok, thx for the reply.
After running hotplug I get this:
[code]

[2021-09-13 10:03] DirkSchueler opened #86 "Unable to build project"
**Introduction**
Building is documented as install.md begins with "cargo build --all --release", but leads to several
errors on my device, although it went fine a few weeks ago.

**Please describe the bug**
cargo build --all --release
    Updating crates.io index
  Downloaded wyz v0.4.0
  Downloaded bitvec v0.22.3
  Downloaded lockfile v0.3.0
  Downloaded crc8 v0.1.1
  Downloaded 4 crates (229.8 K

[2021-09-13 15:12] X3n0m0rph59 commented on #86
Hi @DirkSchueler, could you please try to update your version of Rust? Eruption requires the current stable version of `rustc` to successfully compile. Currently this would be version `1.55.0`

https://rustup.rs/

[2021-09-13 17:01] DirkSchueler commented on #86
Quiet easy solution! Thank you!

[2021-09-14 05:32] X3n0m0rph59 commented on #80
Hi @nenominal, I have implemented a driver with a basic set of features for the `ROCCAT Kain 200/202` series wireless mice.

The `master` branch contains all necessary commits to enable support for RGB lighting and device status queries.
Eruption `0.1.23` will ship with a newly introduced companion utility called `eruption-hwutil` that can be used to get or set device configuration parameters and

[2021-09-14 07:42] nenominal commented on #80
Wow, thanks man :) I'll give it a try tomorrow and you'll have my feed-back.

[2021-09-15 09:27] nenominal commented on #80
I failed to build the master build, bellow the errors I got:
[code]

[2021-09-15 13:35] X3n0m0rph59 commented on #80
@nenominal Looks like an outdated version of Rust.

To build the Eruption `master` branch you need at least the stable version of `rustc`. Currently this would be version `1.55.0`.
Please refer to: https://rustup.rs/

[2021-09-16 17:40] nenominal commented on #80
Ok, I've updated my rustc version and I was able to build from master.

[code]
[code]

I'm not sure if the battery level is correct as swarm shows it as 60%.

My bet is that battery level should be switched with signal strength

[2021-09-17 08:10] X3n0m0rph59 commented on #80
@nenominal

My bet is that battery level should be switched with signal strength

You are right, definitely seems to be incorrect. Seems that I picked the wrong field for the battery level read out.
Hope to have something ready soon...

[2021-09-17 16:27] X3n0m0rph59 commented on #80
@nenominal, I have pushed out another round of commits on the `master` branch!

It would be nice if you could give this a try again!

[2021-09-17 18:46] nenominal commented on #80
Still needs fixing, now it show like this

sudo eruption-hwutil -r status 01

Index: 01: ID: 1e7d:2d60 ROCCAT/ROCCAT Kain 200 Aimo Dongle

Transceiver enabled:  true
Signal Strength:       66% (13314)
Battery Level:        **unknown** (65)

The signal strength is still read from wrong field and the battery level shows unknown but the level is correct, I think.

[2021-09-17 20:34] X3n0m0rph59 commented on #80
@nenominal Thanks again for testing!

Yes, I see... I now have full access to a `ROCCAT Kain 200 AIMO` mouse device so testing will be much easier for me. I have updated the code to use the following mapping table:

| Value | Percent |
| -----------| -----------|
| 71 | fully charged |
|65..70 | 100% |
|64 | 80% |
|63 | 60% |
|62 | 40% |
|61 | 20% |
|60 | 0% |
| others |  unknown |

Will take a fe

[2021-09-18 09:21] X3n0m0rph59 commented on #80
Okay, I have gathered some more data and updated the mapping table respectively:

I have seen the following raw values from the `ROCCAT Kain 200` until now: 71, 64, 65.

| Raw Value | ROCCAT Swarm shows |
| -- | -- |
| 71 | 100% |
| 64 | 80% |
| 65 | 60% |
| 66 | 40% |
| 67 | 20% |
| 68 | 0% |
| others | unknown |

[2021-09-18 09:47] nenominal commented on #80
Ok, I've tested with new build and now it seems the battery level is correct.

On the other hand I still have some doubts about signal strength as it varies a lot, never goes up 62-63%.
Swarm shows 100% and I think it's right as the dongle is at 10 cm from mouse itself.

Also, is there a way to set the DPI?

[2021-09-18 09:53] X3n0m0rph59 commented on #80
Excellent!

Swarm shows 100% and I think it's right as the dongle is at 10 cm from mouse itself.

It seems that ROCCAT Swarm applies a correction factor. I will look into this...

No, not currently. but I am planning to implement this as well.

[2021-09-18 10:18] nenominal commented on #80
Maybe add the battery level in the gnome's extension dropdown or show it in some place to be easy noticeable?

[2021-09-22 08:59] X3n0m0rph59 commented on #80
@nenominal, I have released a new version of the [`Eruption Profile Switcher`](https://github.com/X3n0m0rph59/eruption-profile-switcher) GNOME Shell Extension that features battery level and signal strength indicators (where applicable).

![screenshot-01](https://user-images.githubusercontent.com/3053519/134313378-bf8e9ddd-f513-4a61-bdc3-146f724b2f7f.jpg)

![screenshot-02](https://user-images.gith

[2021-09-22 09:38] nenominal commented on #80
Yey, nice, I'll give it a try. Did the extension got to extentions.gnome.org ?

If it's not very complicated I'd suggest to have the battery value in the taskbar, if it's possible of-course (and maybe the wireless signal on a later build if it will be implemented).

[2021-09-24 17:52] nenominal opened #87 "Polluted logs with pulse audio connection"
Do I need to do extra something to get rid of this errors?

I'm using Ubuntu 20.04 x64.

[code]

[2021-09-25 11:01] X3n0m0rph59 commented on #80
@nenominal

Yes I published it on extensions.gnome.org (v18)

Sounds good! I will implement this next

[2021-09-25 11:13] nenominal commented on #80
I think you have publish it only for Gnome 40 and up, I'm using Ubuntu 20.04 witch is running Gnome 3.36 and I only see v.15

![Screenshot-20210925141318-852x599](https://user-images.githubusercontent.com/21262237/134769427-202a1375-207a-4ed8-88af-690259c6e4c1.png)

[2021-09-25 12:26] X3n0m0rph59 commented on #87
Hi @nenominal, currently it is required for audio to work with Eruption that the steps in [this document](../blob/master/docs/SETUP_AUDIO.md) are performed.

I am working on architectural changes to Eruption that will result in not having to perform these changes to the audio configuration.

[2021-10-10 22:33] justarandomuser opened #88 "Private mode"
**Introduction**
Request for mode/feature that does inspect OS processes and other information which could be considered as sensitive.

**Describe The Problem To Be Solved**
As a user, I'd like a mode of eruption that removes/disables the ability for it to collect any information about what I'm running. Essentially a 'private' mode.

**Describe the Solution**
Adding a button/toggle that disables t

[2021-10-11 15:30] mathewrtaylor opened #89 "Fresh Ubuntu - Vulcan Pro / Burst, unable to install"
Hey there trying to run all the installation of the line:
cargo build --all --release
and get through the compilation, then a string of errors.

**Please describe the bug**
Errors listed below.

**To Reproduce**
After installing per the main page and rebooting, following the steps on Install.md

**Expected behavior**
A clear and concise description of what you expected to happen.

**Logs**
-- Jour

[2021-10-11 17:19] X3n0m0rph59 commented on #89
Hi @mathewrtaylor, could you please try to update your version of Rust? Eruption requires the current stable version of `rustc` to successfully compile. Currently this would be version `1.55.0`

Please refer to https://rustup.rs/

[2021-10-11 18:03] X3n0m0rph59 commented on #88
Hi @justarandomuser, thank you for your request.

Eruption does not store any sensitive data by default and does not 'phone home' in any way. Only under the following circumstances will Eruption store certain usage information:

* If you remove the comment sign / enable the `stats.lua` script in a `.profile` file, Eruption will store a counter (a histogram) of how many times each key has been pres

[2021-10-12 02:45] justarandomuser commented on #88
Hi @X3n0m0rph59

Thanks for your well thought out response. I will close this out as it looks like you've covered everything.
Might I suggest adding this content to the readme as it may interest others too.

Regards,

[2021-10-12 02:45] #88 closed

[2021-10-24 01:34] darthlukan opened #90 "Add Support for Kone Pure Owl Eye"
**Introduction**
I am looking for support the `Kone Pure Owl-Eye` to be supported in Eruption.

**Device to add support for**
[code]

**Please attach your *.pcapng file, if possible**
For further information, please see the [Eruption Wiki](https://github.com/X3n0m0rph59/eruption/wiki).

[2021-11-07 03:50] Madcliff opened #91 "Macro and remapping support for Vulcan TKL"
So just a couple of notes about the Vulcan TKL

As I recall the user scheme for layered macros with eruption was that you used fn+  the macro keys on the fullsized keyboard to switch macro layers. With the TKL having function keys rather than macro buttons on the home keys it means that you cannot set a macro layer.

Sorry for the bad description, but going off the bug report I failed to post back

[2021-11-07 12:19] aznlir88 opened #92 "Mint 20.2 / Roccat Burst Pro - "Error opening the mouse device""
Hello, sorry if that's something on my side but I do not know what may it be as I tried to run eruption as root and it runs into similiar problem.

I installed eruption via your PPA, version 0.1.22. When running it from console I get into errors telling me that somehow Eruption cannot open my mouse device:

Device information (lsusb):
`Bus 003 Device 002: ID 1e7d:2de1 ROCCAT ROCCAT Burst Pro`

[co

[2021-11-07 21:12] aznlir88 commented on #92
Tried to solve it a bit and here is what I tried to do:

I discovered that my mouse device is:
`/dev/input/mouse0`
Also added some info to `/etc/eruption/eruption.conf`:
[code]
Yet it changed nothing, and as the device `/dev/input/mouse0` belonged to group `input` I added my user to this group - now I get the same error as I got when run as root:
[code]

Problem still not solved.

[2021-11-08 04:37] X3n0m0rph59 commented on #92
Hi @aznlir88, it seems that the run of Eruption from the provided `eruption.log` was successful, except for the yet to be configured audio stuff. Did you see the LEDs being set to a different color on your mouse device at all? Please try out multiple profiles since not all of them support setting colors of the LEDs on mouse devices.

The Eruption daemon needs to be run as the `root` user. The `[[d

[2021-11-08 22:49] aznlir88 commented on #92
Hello, about LEDs changing color, yes - it goes to all(mouse wheel and the shell itself) into purple after running daemon. Also it starts automatically in my case so yes, it is being started by the "root" account.

Ok, I commented these lines from `eruption.conf` as they were before.

I attach the `eruption2.log` with the output you asked for - I just stopped it some time after as it can carry on

[2021-11-09 04:34] X3n0m0rph59 commented on #92
@aznlir88 Great! So is it working for you now? From the logs I can see that the only problem left is the audio related stuff.

In case you own a supported keyboard and want to use the spectrum analyzer profile with it, please find the documentation on how to set up audio here: [SETUP_AUDIO.md](https://github.com/X3n0m0rph59/eruption/blob/master/docs/SETUP_AUDIO.md)

The FPS (frames per second) val

[2021-11-09 22:51] aznlir88 commented on #92
To be honest, I dunno. I mean, I use fluxbox and I do not have these fancy cinnamon dialog boxes etc. is there any guy for eruption so I can set everything or it is more complex to start with? About keyboard - ASUS ROG Strix Flare - not sure if supported.

[2021-11-09 22:57] aznlir88 commented on #92
I checked, it does not work, the problem is the same as it was, that device is busy and after starting service it crashes:
[code]

[2021-11-12 05:51] X3n0m0rph59 commented on #92
@aznlir88 I have set up a VM running Linux Mint 20 and tested the packages from the PPA. Device hotplug does not work as intended. Otherwise it seems to be working though.

Could you please run the following commands:
[code]

This should display the currently active profile and make the mouse show a solid red color.

If it still does not work then please post these logs:
[code]

Yes, there is a GU

[2021-11-13 10:58] MrYdse commented on #15
Hi, this happens to me as well on KDE 5.23.3 on Arch Linux with kernel 5.15.2-arch1-1 on X11. I get the same journalctl errors repeated several times per second, flooding the log:
`ERROR eruption::plugins::audio > Could not initialize the audio backend: Pulse Audio error: Could not open Pulse Audio: Connection refused
ERROR eruption::plugins::audio > Could not start the audio grabber: Pulse Audio

[2021-11-13 13:32] X3n0m0rph59 commented on #15
Hi @MrYdse!

Eruption is compatible with Pipewire, it will use the PulseAudio interface of Pipewire. There currently is additional configuration required though. Please find the respective steps in [SETUP_AUDIO.md](https://github.com/X3n0m0rph59/eruption/blob/master/docs/SETUP_AUDIO.md)

If the problem persists, please open up a new issue!

[2021-11-13 14:18] aznlir88 commented on #92
Hmm, guess you are right and it works as I ended with solid red color, here is the output:
[code]
Guess the issue can be closed, thank you very much for your help :). I will surely look into the GUI.

[2021-11-13 14:20] X3n0m0rph59 commented on #92
Great! I will close this issue now.

[2021-11-13 14:20] #92 closed

[2021-11-13 14:25] MrYdse commented on #15
Ok, that helped my poor journald. Will the changes persist? Do I have to redo the steps if I disconnect the sink that I connected Eruption Audio Grabber to?

Are these steps possible to automate? I wish to be able to use eruption without much configuration after install if possible.

Also, I noticed that eruption runs as root, which sounds a bit scary. What are the reasons it runs as root? Is it b

[2021-11-13 14:50] MrYdse commented on #15
Btw, if I disconnect the sink (it is a bluetooth speaker) and use the volume knob on my Roccat Vulkan 120, this error pops up:
`mod.protocol-pulse: client 0x560dd82c6620 [libcanberra]: ERROR command:18 (PLAY_SAMPLE) tag:8 error:25 (Input/output error)`

[2021-11-13 14:56] X3n0m0rph59 commented on #15
@MrYdse

Great! I suspect that the changes will persist. Pipewire/Wireplumber should restore these settings respectively.

I am working on a solution for this right now... I am planning to introduce a user session daemon called `eruption-audio-proxy` that listens on a Pipewire sink and send the recorded samples to the Eruption daemon for further processing like e.g. Fourier transform for the spect

[2021-11-13 14:58] MrYdse commented on #15
Alright, thanks for the informative answers! I appreciate this project a lot, it is very useful.

[2021-11-13 19:19] X3n0m0rph59 commented on #87
I will close this issue now. Please reopen this issue if the problem persists.

[2021-11-13 19:19] #87 closed

[2021-11-20 08:21] X3n0m0rph59 commented on #62
@poldolot Sorry, for taking so long to reply!

This issue should be fixed by commit 6d3a2b43b05ee8b05e1a601236a4c58c9afdbfb7. It will ship with Eruption `0.1.23`.

[2021-11-20 18:35] SHU-red commented on #27
Hey there,
i got my Roccat Vulcan today and i love this project!
Im getting excited to script my own scripts!

In
`/etc/eruption/eruption.conf`
i tried to add my user-.conf folder to the search paths by adding them comma separated like this
[code]

Seems that this does not work and is related to this task
1. Am i doing something wrong?
2. (As others already seem to have requested) it would be nice

[2021-11-20 21:00] X3n0m0rph59 commented on #27
Hi @SHU-red, thanks for your feature request!

Eruption `0.1.23` built from the current `master` branch is able to load scripts and profiles from the user's home directory. I just double checked this.

Support is in place for the following components:
 * The `eruption` daemon proper
 * The companion tools like `eruptionctl` should mostly be able to deal with multiple script and profile paths
 * Er

[2021-11-20 21:44] SHU-red commented on #27
Thanks for your friendly support!
I installed eruption-git from AUR-package manager which seems to be (Eruption 0.1.23 (0.1.22.r28.g1ba264c) (release build))

- I think this means that my version is too old and i have do make a build by myself?
- Do i have to place my code into `/home/USER/.local/share/eruption` or can i choose whatever i want? Like `/home/USER/.config/eruption`?

[2021-11-21 02:20] X3n0m0rph59 commented on #27
@SHU-red thanks, you're welcome!

I just built Eruption from git commit 1ba264c and can confirm that this built is able to handle custom scripts and profiles. So there must be something else that is going on.

The location of the directories is not important. You can place the files wherever you like, as long as your user account has read/write access to the files it should be okay.

Could you ple

[2021-11-21 11:29] SHU-red commented on #27
Now i did acknowledge, that you also created a eruption-gui! Awesome!

__OK as said im not very advanced in all of this stuff but i tried my best:__

I understood, that your commit 1ba264c from 24. Aug should already be contained in the eruption version i use from AUR eruption-git = 1.2.23
Hopefully i did understand you right

_______
Based on that i now did try to crate
- user.profile: Containing

[2021-11-21 15:14] X3n0m0rph59 commented on #27
@SHU-red

Yes you did understand that correctly. The AUR package `eruption-git` does ship with support for multiple script and profile directories.

It seems that the Lua script `default.lua` does not exist in your custom directory!? Eruption does have a `eruption/src/scripts/lib/themes/default.lua` but it this is a color theme, not an effect script.

You are missing `macros.lua` in your `.profile

[2021-11-21 19:27] SHU-red commented on #27
OK thanks a lot!
I think there is something i completely got wrong!

I thougt each profile has slots fro F1 to F4 which are defined in the .profile file.

But i think one profile only defines the behaviour of for example ohnly the Slot F1

Thanks ...

I will try to discover this

[2021-11-21 21:04] X3n0m0rph59 commented on #91
Hi @Madcliff, sorry for taking so long to respond...

Macro layers are supported on `ROCCAT Vulcan TKL Pro`. Sadly I am currently unable to obtain a `ROCCAT Vulcan TKL` (non-pro) for testing purposes. It will be quiet hard to get all the stuff working without having access to real hardware.

I tried to contact ROCCAT multiple times but without any luck. It seems that they are not willing to help a

[2021-11-22 05:35] SHU-red commented on #27
I got it working!

One last thing, regarding the topic of this issue:
- I would like it if you could add directories in the user-home-folder already in the delivered eruption-version
- e.g. /home/$USER/.config/eruption/{scripts profiles} or /home/$USER/.local/eruption/{scripts profiles}
- This way the delivered eruption.conf could be left untouched (dont know if this is overwritten each time erupt

[2021-11-23 10:47] DirkSchueler commented on #86
After Pulling the current Repo
cargo build --all --release
led to
"error: failed to load manifest for workspace member `/home/dirk/data/eruption/eruption`

Caused by:
  failed to parse manifest at `/home/dirk/data/eruption/eruption/Cargo.toml`

Caused by:
  feature `edition2021` is required

Updating Rust to version 1.56.1 solved that, but
cargo build --all --release
now leads to
...
   Compiling

[2021-11-23 12:29] X3n0m0rph59 commented on #86
@DirkSchueler, thanks for reporting this issue!

The problem can be fixed by installing the packages `gtksourceview4` and/or `gtksourceview-4.0-dev`.
I have updated the [INSTALL.md](https://github.com/X3n0m0rph59/eruption/blob/master/docs/INSTALL.md) respectively.

[2021-11-23 12:31] #86 closed

[2021-11-23 12:43] DirkSchueler commented on #86
Sorry, but

sudo apt install libusb-1.0-0-dev libhidapi-dev libevdev-dev libudev-dev libdbus-1-dev \
  libpulse-dev luajit libluajit-5.1-dev libx11-dev libxrandr-dev libgtk-3-dev libgdk-pixbuf2.0-dev \
  libatk1.0-dev libpango1.0-dev libcairo2-dev libgtksourceview-4.0-dev
on my Ubuntu System
gives
E: Unable to locate package libgtksourceview-4.0-dev
E: Couldn't find any package by glob 'libgtksour

[2021-11-23 12:53] X3n0m0rph59 commented on #86
@DirkSchueler

Please try to build using the following command:
[code]

This will disable the syntax highlighting in the Eruption GUI since your version of Ubuntu does not provide the package required for it.

[2021-11-23 14:10] C0rn3rphr34k opened #93 "Support for Roccat Ryos MK Pro"
**Introduction**
Hi and thank you for contributing such a great piece of software to the community.
I have a bunch, of mostly older, Roccat devices flying around my home (Ryos MK Pro, Suora, Isku, Kova 2016), but my daily driver for converting my thoughts to text is my Ryos MK Pro keyboard. Would you be willing to add support for older devices to eruption?
Let me know what you need and i can grab

[2021-11-23 14:54] X3n0m0rph59 commented on #93
Hi @C0rn3rphr34k, thank you for your request!

Yes, I am interested in adding support for older hardware to Eruption too. Some/most of the older hardware does not support realtime lighting effects like ROCCAT AIMO though, which kind of diminishes the purpose of adding support for them to Eruption. Such devices only support enabling hardware generated lighting effects where only some of the paramet

[2021-11-23 14:59] X3n0m0rph59 commented on #93
Regarding how to help to add support for a device to Eruption, please refer to the [Eruption Wiki](https://github.com/X3n0m0rph59/eruption/wiki).

Basically, it boils down to capturing the USB traffic between the device and the OEM provided driver software. With this information I can implement a driver module for that device in Eruption.

[2021-11-23 15:19] X3n0m0rph59 commented on #93
@C0rn3rphr34k

Does the `ROCCAT Ryos MK Pro` (non FX) variant support `Talk FX` and/or the `ROCCAT Swarm` software? If this is the case then it allows for realtime control of the monochromatic LED values and it would make sense to add support for it.

The `ROCCAT Elo Air 7.1` is working in the current `master` branch of Eruption. I believe that I got the battery levels and LED lighting working, if

[2021-11-23 15:24] C0rn3rphr34k commented on #93
You are right. I do not believe that the Ryos MK Pro supports TalkFX/Swarm. At least the keyboard is not recognized in Swarm when i boot into Win 10.

The Kova and Elo do show up though. I'll try the other two (Isku and Suora) later tonight.

[2021-11-23 22:58] C0rn3rphr34k commented on #93
Alrighty, I've managed to capture all 4 input devices using your excellent instructions from the wiki. :)

For the Ryos MK Pro and the Isku I've used the old non-Swarm driver Packages that are still available via the roccat support site. As they are not Swarm compatible I'd totally understand it if you're not going to try and reverse engineer the drivers.

The Suora and Hova are both Swarm devices

[2021-11-24 02:19] X3n0m0rph59 opened #95 "Add Support for ROCCAT Kova 2016"
This issue will track the progress made on supporting the `ROCCAT Kova 2016` mouse.

Please refer to #93 for previous posts (pcap files)

[2021-11-24 06:31] X3n0m0rph59 commented on #27
Hi @SHU-red, great that it is working now!

The `/etc/eruption/eruption.conf` file is handled as a conffile by most package managers, and should not be overwritten when it has been modified.

Mainly because of the security implications I will refrain from shipping such a change in the default installation, but I will continue to support this feature for the users who like to have that kind of setu

[2021-11-24 06:31] #27 closed

[2021-11-24 07:08] SHU-red commented on #27
If it doesn't get overwritten it's totally perfect for me!

Thanks!

[2021-11-24 07:16] X3n0m0rph59 commented on #95
@C0rn3rphr34k thank you very much! Seems like this device does not support realtime updates to the LED colors... The capture file looks very good though! It seems to contain nearly everything I need to get this up and running.

I am currently unable to tell exactly what packets set the colors of the LEDs, so could you please capture setting the static colors red, green and blue to the LEDs in its

[2021-11-24 07:23] X3n0m0rph59 commented on #65
@BlauerHunger, thank you for your feature request!

Please see #93 for tracking progress on the support for the `ROCCAT Ryos MK Pro`

[2021-11-24 10:19] C0rn3rphr34k commented on #95
Hey, thank you for your quick reply. I'll capture the two additional pcapng files from the Kova tonight.
fyi: the dpi switch is a single button that cycles through the 5 variable value DPI slots. I'll try to comment the right packets when setting the DPI values through Swarm and when cycling through those slots.

[2021-11-24 21:42] C0rn3rphr34k commented on #95
I've created 3 pcapng files one for each:
- Set front and back LED colors
- Press every button once (after applying a factory reset)
- Cycle through the 5 dpi slots (using Button number 10 from the included screenshot)

As you can see from the included screenshots from Swarm, the buttons have two layers, the secondary function is only accessible when a button has EasyShift assigned as it's primary

[2021-11-24 22:45] X3n0m0rph59 commented on #95
@C0rn3rphr34k thanks for your excellent support, it is much appreciated!

To test the new code, please build the current `master` from source and then run the `eruption-debug-tool`:
[code]

Please pick the index of `Subdev 0` of the `ROCCAT Kova 2016` and then run:

[code]

You should see the device being initialized, and light up in red and then blue.

After that to re-enable `eruption.service`,

[2021-11-24 23:01] RolledR opened #96 "evdev input by-path and by-id symlinks missing for Eruption virtual devices"
Not sure if this should be a bug or a feature request.

**Description**
Before installing eruption, `/dev/input/by-id` had several inputs for the keyboard. After installing eruption, most of them disappeared, and no new ones were added to replace them.

**To Reproduce**
1. Uninstall eruption
2. `ls /dev/input/by-id` and see the `usb-ROCCAT*` ids
3. Install eruption
4. `ls /dev/input/by-id` and see

[2021-11-24 23:07] C0rn3rphr34k commented on #95
Awesome :+1:

That works great. I'm attaching a video of the test run.

`sudo eruption-debug-tool list

Please find the device you want to debug below and use its respective
index number (column 1) as the device index for the other sub-commands of this tool

Index: 00: ID: 1e7d:3232 ROCCAT/ROCCAT Ryos MK Pro Subdev: 0
Index: 01: ID: 1e7d:3232 ROCCAT/ROCCAT Ryos MK Pro Subdev: 1
Index: 02: ID: 1e7d

[2021-12-01 20:40] hirvoin opened #97 "Add support for Roccat Kone Pro Air"
**Introduction**
Hi! I recently got Roccat Kone Pro Air wireless mouse. Noticed that there is no way to adjust DPI or see battery level, but then I discovered this great software.

**Describe The Problem To Be Solved**
Support for Roccat Kone Pro Air is missing

**Describe the Solution**
Add support for Roccat Kone Pro Air

Here's the capture file. I was not able to install Roccat Swarm on Virtual

[2021-12-04 12:46] Nopraz commented on #80
Hello, is it possible to have the battery indicator on something like KDE ? I think plasma uses upower to fetch this data and I don't know if it's possible for you to make the battery data show up on upower ?

[2021-12-04 20:51] MrYdse opened #99 "eruption-audio-proxy.service does not exist after fresh install"
**Introduction**
After installing eruption via AUR, it seems that eruption-audio-proxy is missing.

**Please describe the bug**
After install, eruption-audio-proxy is missing, causing the error `Failed to enable unit: Unit file eruption-audio-proxy.service does not exist.` after running `systemctl --user enable --now eruption-audio-proxy.service`

**To Reproduce**
Steps to reproduce the behavior:

[2021-12-05 09:38] X3n0m0rph59 commented on #99
Hi @MrYdse, thank you for opening this issue!

It seems that you are running Eruption version `0.1.22` but the audio-proxy feature was only recently introduced with Eruption version `0.1.23` (not yet released). You may want to build `master` from source ([HowTo](https://github.com/X3n0m0rph59/eruption/blob/master/docs/INSTALL.md)) if you don't want to resort to the rather invasive changes that are

[2021-12-05 09:40] X3n0m0rph59 commented on #99
I will close this issue now, please open a new issue anytime if you encounter further problems.

[2021-12-05 09:40] #99 closed

[2021-12-05 17:02] X3n0m0rph59 commented on #80
Hi @Nopraz, last time I looked into supporting Plasma / writing a Plasmoid for KDE I got stuck with implementing the D-Bus based protocol to Eruption. I will look into this again as soon as I find the time...

As you mentioned in your post, the best solution clearly would be to implement this stuff in upower.

[2021-12-06 13:33] X3n0m0rph59 commented on #97
Hi @hirvoin, thank you very much for creating the capture file!

The protocol seems to be rather different from that of the other supported wireless mice (`ROCCAT Kain 200/202 AIMO`). It will take some time to figure this out completely without me having access to the hardware.

On first glance over the entries in the pcapng file, I can't tell what packets convey the RGB color values. Did you capt

[2021-12-07 05:46] X3n0m0rph59 commented on #96
Hi @RolledR, thanks for opening this issue!

A fix for this problem will ship with Eruption `0.1.23`. I have modified the file `/usr/lib/udev/rules.d/99-eruption.rules` and added the following lines:

[code]

[2021-12-07 17:15] RolledR commented on #96
Just tested it out. Works perfectly. Thanks for the quick fix!

[2021-12-07 17:15] #96 closed

[2021-12-13 08:04] n1coh commented on #97
Hi, thank you @hirvoin for capture file and @X3n0m0rph59 for all this project.
Yesterday the update to the version 0.1.22.r186 crash the service :
`eruption[8862]: Lua error in file /usr/share/eruption/scripts/lib/failsafe.lua: runtime error: /usr/share/eruption/scripts//lib/declarations.lua:71: module 'hwdevices/mice/roccat_kone_pro_air' not found:

[2021-12-17 19:22] jimmon89 opened #100 "Add Support for <make and name of the device goes here>"
**Introduction**
I will be adding the required info for my new "Roccat Horde AIMO Keyboard" as well as my new "Roccat Kova AIMO Mouse" once i finish downloading the windows 10 ISO and set up the VM

**Device to add support for**
`
Bus 006 Device 001: ID 1d6b:0003 Linux Foundation 3.0 root hub
Bus 005 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub
Bus 004 Device 001: ID 1d6b:0003 Linux Foun

[2021-12-18 20:00] jimmon89 opened #101 "Add Support for "Roccat Horde AIMO""
**Introduction**
I'd Like To Request Support For "Roccat Horde AIMO"

**Device to add support for**
Bus 001 Device 012: ID 1e7d:303e ROCCAT ROCCAT HORDE AIMO

**Please attach your *.pcapng file, if possible**
[1e7d_303e_DeviceDescriptor.txt](https://github.com/X3n0m0rph59/eruption/files/7739867/1e7d_303e_DeviceDescriptor.txt)
[1e7d_303e_ReportDescriptor.txt](https://github.com/X3n0m0rph59/eruption

[2021-12-20 08:15] poldolot commented on #62
@X3n0m0rph59 no worries!
I'll wait :-)

[2022-02-07 06:44] mineturtle36 commented on #101
I would also be very interested in getting support for this device, and will gladly volunteer do testing as needed.

[2022-02-18 16:04] alkaris2 commented on #86
build fails because it requires resolver which is nightly feature, but I can't get it to switch to nightly even though it's installed as default with rustup as a required dependency.

[code]

[2022-02-18 19:00] X3n0m0rph59 commented on #86
Hi @alkaris2,

could you please try to update your installation of Rust (and the cargo binary) using:
[code]

If the build still fails, please post the output of
[code]

[2022-02-22 15:04] X3n0m0rph59 commented on #83
@CypherDragon

Commit a661ced95a93b5125e81362dfe0edfaf5b7850ea introduces a Makefile based installation script that also supports uninstallation too.

To install Eruption please run:
[code]

To remove Eruption from your system:
[code]

[2022-02-22 15:04] #83 closed

[2022-02-22 17:11] CypherDragon commented on #83
My apologies @X3n0m0rph59 , I switched over to Arch shortly after our discussion, and the AUR already had a makefile. Thank you for the update though! I'll take a look at the commit to see how a makefile should be created for future knowledge.

[2022-02-22 19:10] SHU-red opened #109 "Big latency for each keystroke since update to Eruption 0.1.23 (0.1.22.r290.g07bb1ec) (release build)"
**Introduction**
Everything was running fine until the update to Eruption 0.1.23 (0.1.22.r290.g07bb1ec) (release build) came yesterday

**Please describe the bug**
If i type something there is a big delay
Holding down a button causes a very long time after releasing where the input is still firing

**To Reproduce**
Steps to reproduce the behavior:
Everything i type

**Expected behavior**
A clear a

[2022-02-22 20:24] X3n0m0rph59 commented on #109
Hi @SHU-red, thank you for reporting this issue. I am currently in the process of trying to reproduce this bug inside a Manjaro VM.

Could you please trigger the bug and post the full output of this command:
[code]
This will provide some insights on where the problem lies specifically.

Looks like a thread panicked somewhere earlier. Could be something going on with the new audio-proxy code.

Plea

[2022-02-22 20:34] SHU-red commented on #109
No Problem i'll do what i can
Hopefully i dont waste your time to trace to a very different root-cause (as always, several updates came in in parralel)

[code]

[code]

[2022-02-22 20:36] X3n0m0rph59 commented on #109
Ah, please run this command first:
[code]

So that this will actually be able to access the hardware:
[code]

[2022-02-22 20:42] SHU-red commented on #109
I think it worked.
I just pushed some random buttons during this log.
Seems that eruption restarts after stopping it with ctr+c
Before it automatically restarts, i have full typing speed again ... so problem only occures during eruption active in background

[code]

[2022-02-22 20:53] X3n0m0rph59 commented on #109
That would not be a problem. This definitely is a bug with Eruption.

This one causes the perceived delay:

 WARN  eruption                               > This means that we dropped at least one frame
 WARN  eruption                               > Loop took: 210 milliseconds, goal: 50

A huge delay...